# Time Series

## 1. Importing libraries and files

In [1]:
import numpy as np
import pandas as pd

In [2]:
"""
path = './Data_for_Power_BI/weekly_data_for_power_bi.csv'
path_cluster = './df_cluster.csv'
path_events = './Data_for_Power_BI/daily_calendar_with_expanded_events.csv'
"""

"\npath = './Data_for_Power_BI/weekly_data_for_power_bi.csv'\npath_cluster = './df_cluster.csv'\npath_events = './Data_for_Power_BI/daily_calendar_with_expanded_events.csv'\n"

In [3]:
path = '/content/weekly_data_for_power_bi.csv'
path_cluster = '/content/df_cluster.csv'
path_events = '/content/daily_calendar_with_expanded_events.csv'

In [4]:
df_weekly = pd.read_csv(path)
df_calendar_original = pd.read_csv(path_events)
df_cluster = pd.read_csv(path_cluster)

In [5]:
df_calendar = df_calendar_original.groupby('yearweek').agg({'date': 'min', 'Weekly_Event' : 'first'}).reset_index()
df_calendar['Year'] = pd.to_datetime(df_calendar['date']).dt.year
df_calendar['Quarter'] = pd.to_datetime(df_calendar['date']).dt.quarter
df_calendar['Month'] = pd.to_datetime(df_calendar['date']).dt.month
df_calendar['Day_month'] = pd.to_datetime(df_calendar['date']).dt.day

In [6]:
df_calendar.head()

   yearweek        date     Weekly_Event  Year  Quarter  Month  Day_month
0  201105.0  2011-01-29         No Event  2011        1      1         29
1  201106.0  2011-02-05        Superbowl  2011        1      2          5
2  201107.0  2011-02-12  Valentine's Day  2011        1      2         12
3  201108.0  2011-02-19  Presidents' Day  2011        1      2         19
4  201109.0  2011-02-26         No Event  2011        1      2         26

In [7]:
df_weekly.head()

,item,store_code,category_x,department,region,store,yearweek,sale,daily_revenue,sell_price,week_number
0,ACCESORIES_1_004,BOS_1,ACCESORIES,ACCESORIES_1,Boston,South_End,201105.0,10,57.7220,5.7722,1
1,ACCESORIES_1_004,BOS_2,ACCESORIES,ACCESORIES_1,Boston,Roxbury,201105.0,15,86.5830,5.7722,1
2,ACCESORIES_1_004,NYC_2,ACCESORIES,ACCESORIES_1,New York,Harlem,201105.0,33,190.4826,5.7722,1
3,ACCESORIES_1_004,NYC_4,ACCESORIES,ACCESORIES_1,New York,Brooklyn,201105.0,8,46.1776,5.7722,1
4,ACCESORIES_1_004,PHI_1,ACCESORIES,ACCESORIES_1,Philadelphia,Midtown_Village,201105.0,6,34.6332,5.7722,1

In [8]:
df_weekly.shape

(6721786, 11)

In [9]:
df_cluster.head()

,sales_ratio_mean,sell_price_mean,sales_ratio_relative_std,release_week,Sociability,Regionality,Seasonality,%trend_slope,price_elasticity,cluster,item
0,2.760999,11.043445,0.290107,131,0.0,0.400899,0.150287,0.0,-0.330625,5,ACCESORIES_1_001
1,1.855793,5.275790,0.582964,6,0.0,0.366412,0.127449,0.0,-0.059177,4,ACCESORIES_1_002
2,1.252894,3.943779,0.565078,161,0.0,0.178200,0.104309,0.0,0.029035,0,ACCESORIES_1_003
3,14.145769,5.981574,0.228632,1,1.0,0.315894,0.030596,0.0,0.308701,4,ACCESORIES_1_004
4,5.570844,3.832410,0.422320,14,0.0,0.212243,0.097256,0.0,-0.369176,1,ACCESORIES_1_005

In [10]:
df_cluster.shape

(3049, 11)

In [11]:
df_calendar.head()

   yearweek        date     Weekly_Event  Year  Quarter  Month  Day_month
0  201105.0  2011-01-29         No Event  2011        1      1         29
1  201106.0  2011-02-05        Superbowl  2011        1      2          5
2  201107.0  2011-02-12  Valentine's Day  2011        1      2         12
3  201108.0  2011-02-19  Presidents' Day  2011        1      2         19
4  201109.0  2011-02-26         No Event  2011        1      2         26

In [12]:
df_calendar.shape

(279, 7)

In [13]:
df_weekly.week_number.max()

279

In [14]:
df_weekly[df_weekly.week_number > 104].shape

(4886761, 11)

In [15]:
df_weekly[df_weekly.week_number > 278]['yearweek'].unique()

array([201617.])

In [16]:
# Merge calendar features into weekly dataframe
df_weekly = df_weekly.merge(df_calendar[['yearweek', 'Year', 'Quarter', 'Month', 'Day_month']], on='yearweek', how='left')

In [17]:
df_weekly.head()

,item,store_code,category_x,department,region,store,yearweek,sale,daily_revenue,sell_price,week_number,Year,Quarter,Month,Day_month
0,ACCESORIES_1_004,BOS_1,ACCESORIES,ACCESORIES_1,Boston,South_End,201105.0,10,57.7220,5.7722,1,2011,1,1,29
1,ACCESORIES_1_004,BOS_2,ACCESORIES,ACCESORIES_1,Boston,Roxbury,201105.0,15,86.5830,5.7722,1,2011,1,1,29
2,ACCESORIES_1_004,NYC_2,ACCESORIES,ACCESORIES_1,New York,Harlem,201105.0,33,190.4826,5.7722,1,2011,1,1,29
3,ACCESORIES_1_004,NYC_4,ACCESORIES,ACCESORIES_1,New York,Brooklyn,201105.0,8,46.1776,5.7722,1,2011,1,1,29
4,ACCESORIES_1_004,PHI_1,ACCESORIES,ACCESORIES_1,Philadelphia,Midtown_Village,201105.0,6,34.6332,5.7722,1,2011,1,1,29

## 2. Feature Engineering

In [91]:
df_weekly.columns

Index(['item', 'store_code', 'category_x', 'department', 'region', 'store',
       'yearweek', 'sale', 'daily_revenue', 'sell_price', 'week_number',
       'Year', 'Quarter', 'Month', 'Day_month', 'price_mean_year',
       'price_proportion_item_department', 'changed_price_vs_mean', 'cluster',
       'release_week', 'market_presence', 'sin_year', 'cos_year',
       'valentines_heat', 'xmas_heat', 'superbowl_heat', 'thanksgiving_heat',
       'july4_heat', 'is_shopping_event', 'is_holiday_closed'],
      dtype='object')

In [20]:
# Posibles Features

# cluster OK - falta OHE

  # nivel de precio
    # Precio medio - precio medio por ao anterior
    # Precio articulo / Precio medio department - precio medio dept ao anterior

  # elasticidad
    # Cambio de precio                        # % (Precio Actual / Precio medio ao anterior) - 1

  #tendencia
    # permanencia en el mercado               # number_week - release_week
    # lag ventas (52)/(26)

  #Sociability


  #Regionality - con datos del ao anterior
    # Q(NY), Q(B), Q(PHI)

  #Seasonality
    # Q(Q1), Q(Q2), Q(Q3), Q(Q4)

  #Estables
    # media movil (3), (6)

# articulo, semana, y tienda

# preprocesamiento del target (dif, log)

  # id tienda OK
  # id ciudad OK

  # ventas medias por ciudad, por ciudad y categori
  # ventas medias por tiendas


  # semana previa a evento
  # semana evento
  # semana post evento
  # Clasificacion ABC Global                # ABC ITEM // PRECIO_ITEM / PRECIO_PROM_GENERAL

  # ao OK
  # mes / trimestre OK
  # sin / cos (year)
  # inicio / fin de mes OK

  # id category OK
  # id deparment OK



  # climaticos: [T media semanal por ciudad, Precipitacion media]

### Features de precios

In [18]:
df_weekly.columns

Index(['item', 'store_code', 'category_x', 'department', 'region', 'store',
       'yearweek', 'sale', 'daily_revenue', 'sell_price', 'week_number',
       'Year', 'Quarter', 'Month', 'Day_month'],
      dtype='object')

In [19]:
df_price_mean = df_weekly.groupby(['Year', 'item']).agg({'sell_price': 'mean', 'department' : 'first'}).reset_index()
df_price_mean.rename(columns={'sell_price': 'price_mean_year'}, inplace=True)
df_price_mean.head()

   Year              item  price_mean_year    department
0  2011  ACCESORIES_1_002         5.280100  ACCESORIES_1
1  2011  ACCESORIES_1_004         5.694876  ACCESORIES_1
2  2011  ACCESORIES_1_005         3.611341  ACCESORIES_1
3  2011  ACCESORIES_1_008         0.645671  ACCESORIES_1
4  2011  ACCESORIES_1_009         2.253475  ACCESORIES_1

In [20]:
df_price_depart = df_price_mean.groupby(['Year', 'department']).agg({'price_mean_year': 'mean'}).reset_index()
df_price_depart.rename(columns={'price_mean_year': 'price_mean_department_year'}, inplace=True)
df_price_depart.head()

   Year       department  price_mean_department_year
0  2011     ACCESORIES_1                    7.002392
1  2011     ACCESORIES_2                    3.732851
2  2011  HOME_&_GARDEN_1                    6.085664
3  2011  HOME_&_GARDEN_2                    7.343050
4  2011    SUPERMARKET_1                    4.202031

In [21]:
df_prices_aggregated = df_price_mean.merge(df_price_depart, on=['Year', 'department'], how='left')
df_prices_aggregated.head()

,Year,item,price_mean_year,department,price_mean_department_year
0,2011,ACCESORIES_1_002,5.280100,ACCESORIES_1,7.002392
1,2011,ACCESORIES_1_004,5.694876,ACCESORIES_1,7.002392
2,2011,ACCESORIES_1_005,3.611341,ACCESORIES_1,7.002392
3,2011,ACCESORIES_1_008,0.645671,ACCESORIES_1,7.002392
4,2011,ACCESORIES_1_009,2.253475,ACCESORIES_1,7.002392

In [22]:
df_prices_aggregated['price_proportion_item_department'] = df_prices_aggregated['price_mean_year'] / df_prices_aggregated['price_mean_department_year']
df_prices_aggregated.head()

,Year,item,price_mean_year,department,price_mean_department_year,price_proportion_item_department
0,2011,ACCESORIES_1_002,5.280100,ACCESORIES_1,7.002392,0.754042
1,2011,ACCESORIES_1_004,5.694876,ACCESORIES_1,7.002392,0.813276
2,2011,ACCESORIES_1_005,3.611341,ACCESORIES_1,7.002392,0.515730
3,2011,ACCESORIES_1_008,0.645671,ACCESORIES_1,7.002392,0.092207
4,2011,ACCESORIES_1_009,2.253475,ACCESORIES_1,7.002392,0.321815

In [23]:
# para agregar los datos de df aggregated al df weekly con un lag de 1 ao,
# cambiamos los datos de year por year + 1

df_prices_aggregated['Year_lag1'] = df_prices_aggregated['Year'] + 1

In [24]:
df_weekly_backup1 = df_weekly.copy()

In [25]:
# Aadimos las nuevas features al df_weekly
df_weekly = df_weekly.merge(df_prices_aggregated
                            [['item', 'Year_lag1', 'price_mean_year', 'price_proportion_item_department']],
                            left_on=['item', 'Year'],
                            right_on=['item', 'Year_lag1'],
                            how='left')
df_weekly.head()

,item,store_code,category_x,department,region,store,yearweek,sale,daily_revenue,sell_price,week_number,Year,Quarter,Month,Day_month,Year_lag1,price_mean_year,price_proportion_item_department
0,ACCESORIES_1_004,BOS_1,ACCESORIES,ACCESORIES_1,Boston,South_End,201105.0,10,57.7220,5.7722,1,2011,1,1,29,NaN,NaN,NaN
1,ACCESORIES_1_004,BOS_2,ACCESORIES,ACCESORIES_1,Boston,Roxbury,201105.0,15,86.5830,5.7722,1,2011,1,1,29,NaN,NaN,NaN
2,ACCESORIES_1_004,NYC_2,ACCESORIES,ACCESORIES_1,New York,Harlem,201105.0,33,190.4826,5.7722,1,2011,1,1,29,NaN,NaN,NaN
3,ACCESORIES_1_004,NYC_4,ACCESORIES,ACCESORIES_1,New York,Brooklyn,201105.0,8,46.1776,5.7722,1,2011,1,1,29,NaN,NaN,NaN
4,ACCESORIES_1_004,PHI_1,ACCESORIES,ACCESORIES_1,Philadelphia,Midtown_Village,201105.0,6,34.6332,5.7722,1,2011,1,1,29,NaN,NaN,NaN

In [26]:
df_weekly[df_weekly.Year >= 2012].head()

,item,store_code,category_x,department,region,store,yearweek,sale,daily_revenue,sell_price,week_number,Year,Quarter,Month,Day_month,Year_lag1,price_mean_year,price_proportion_item_department
760780,ACCESORIES_1_002,BOS_1,ACCESORIES,ACCESORIES_1,Boston,South_End,201202.0,0,0.0000,5.2801,51,2012,1,1,7,2012.0,5.2801,0.754042
760781,ACCESORIES_1_002,BOS_2,ACCESORIES,ACCESORIES_1,Boston,Roxbury,201202.0,0,0.0000,5.2801,51,2012,1,1,7,2012.0,5.2801,0.754042
760782,ACCESORIES_1_002,BOS_3,ACCESORIES,ACCESORIES_1,Boston,Back_Bay,201202.0,1,5.2801,5.2801,51,2012,1,1,7,2012.0,5.2801,0.754042
760783,ACCESORIES_1_002,NYC_1,ACCESORIES,ACCESORIES_1,New York,Greenwich_Village,201202.0,1,5.2801,5.2801,51,2012,1,1,7,2012.0,5.2801,0.754042
760784,ACCESORIES_1_002,NYC_2,ACCESORIES,ACCESORIES_1,New York,Harlem,201202.0,0,0.0000,5.2801,51,2012,1,1,7,2012.0,5.2801,0.754042

In [27]:
df_weekly.drop(columns=['Year_lag1'], inplace=True)

In [28]:
df_weekly['changed_price_vs_mean'] = (df_weekly['sell_price'] / df_weekly['price_mean_year']) - 1

In [29]:
# Posibles Features

# cluster OK - falta OHE

  # nivel de precio
    # Precio medio - precio medio por ao anterior OK
    # Precio articulo / Precio medio department - precio medio dept ao anterior OK

  # elasticidad
    # Cambio de precio                        # % (Precio Actual / Precio medio ao anterior) - 1  OK

  #tendencia
    # permanencia en el mercado               # number_week - release_week OK
    # lag ventas (52)/(26)

  #Sociability


  #Regionality - con datos del ao anterior
    # Q(NY), Q(B), Q(PHI)

  #Seasonality
    # Q(Q1), Q(Q2), Q(Q3), Q(Q4)

  #Estables
    # media movil (3), (6)

# articulo, semana, y tienda

# preprocesamiento del target (dif, log)

  # id tienda OK
  # id ciudad OK

  # ventas medias por ciudad, por ciudad y categori
  # ventas medias por tiendas


  # semana previa a evento
  # semana evento
  # semana post evento
  # Clasificacion ABC Global                # ABC ITEM // PRECIO_ITEM / PRECIO_PROM_GENERAL

  # ao OK
  # mes / trimestre OK
  # sin / cos (year) OK
  # inicio / fin de mes OK

  # id category OK
  # id deparment OK



  # climaticos: [T media semanal por ciudad, Precipitacion media]

### Features de madurez de producto

In [30]:
#Aadimos datos del clustering y de la semana de lanzamiento
df_weekly = df_weekly.merge(df_cluster[['item', 'cluster', 'release_week']], on='item', how='left')

In [31]:
df_weekly.head()

,item,store_code,category_x,department,region,store,yearweek,sale,daily_revenue,sell_price,week_number,Year,Quarter,Month,Day_month,price_mean_year,price_proportion_item_department,changed_price_vs_mean,cluster,release_week
0,ACCESORIES_1_004,BOS_1,ACCESORIES,ACCESORIES_1,Boston,South_End,201105.0,10,57.7220,5.7722,1,2011,1,1,29,NaN,NaN,NaN,4,1
1,ACCESORIES_1_004,BOS_2,ACCESORIES,ACCESORIES_1,Boston,Roxbury,201105.0,15,86.5830,5.7722,1,2011,1,1,29,NaN,NaN,NaN,4,1
2,ACCESORIES_1_004,NYC_2,ACCESORIES,ACCESORIES_1,New York,Harlem,201105.0,33,190.4826,5.7722,1,2011,1,1,29,NaN,NaN,NaN,4,1
3,ACCESORIES_1_004,NYC_4,ACCESORIES,ACCESORIES_1,New York,Brooklyn,201105.0,8,46.1776,5.7722,1,2011,1,1,29,NaN,NaN,NaN,4,1
4,ACCESORIES_1_004,PHI_1,ACCESORIES,ACCESORIES_1,Philadelphia,Midtown_Village,201105.0,6,34.6332,5.7722,1,2011,1,1,29,NaN,NaN,NaN,4,1

In [32]:
df_weekly.columns

Index(['item', 'store_code', 'category_x', 'department', 'region', 'store',
       'yearweek', 'sale', 'daily_revenue', 'sell_price', 'week_number',
       'Year', 'Quarter', 'Month', 'Day_month', 'price_mean_year',
       'price_proportion_item_department', 'changed_price_vs_mean', 'cluster',
       'release_week'],
      dtype='object')

In [33]:
#permanencia en el mercado
df_weekly['market_presence'] = df_weekly['week_number'] - df_weekly['release_week']

In [34]:
df_weekly.columns

Index(['item', 'store_code', 'category_x', 'department', 'region', 'store',
       'yearweek', 'sale', 'daily_revenue', 'sell_price', 'week_number',
       'Year', 'Quarter', 'Month', 'Day_month', 'price_mean_year',
       'price_proportion_item_department', 'changed_price_vs_mean', 'cluster',
       'release_week', 'market_presence'],
      dtype='object')

### Features de ao calendario

In [35]:
## Seno y coseno del ao
df_weekly['sin_year'] = np.sin(2 * np.pi * df_weekly['Month'] / 12)
df_weekly['cos_year'] = np.cos(2 * np.pi * df_weekly['Month'] / 12)
df_weekly.head()

,item,store_code,category_x,department,region,store,yearweek,sale,daily_revenue,sell_price,...,Month,Day_month,price_mean_year,price_proportion_item_department,changed_price_vs_mean,cluster,release_week,market_presence,sin_year,cos_year
0,ACCESORIES_1_004,BOS_1,ACCESORIES,ACCESORIES_1,Boston,South_End,201105.0,10,57.7220,5.7722,...,1,29,NaN,NaN,NaN,4,1,0,0.5,0.866025
1,ACCESORIES_1_004,BOS_2,ACCESORIES,ACCESORIES_1,Boston,Roxbury,201105.0,15,86.5830,5.7722,...,1,29,NaN,NaN,NaN,4,1,0,0.5,0.866025
2,ACCESORIES_1_004,NYC_2,ACCESORIES,ACCESORIES_1,New York,Harlem,201105.0,33,190.4826,5.7722,...,1,29,NaN,NaN,NaN,4,1,0,0.5,0.866025
3,ACCESORIES_1_004,NYC_4,ACCESORIES,ACCESORIES_1,New York,Brooklyn,201105.0,8,46.1776,5.7722,...,1,29,NaN,NaN,NaN,4,1,0,0.5,0.866025
4,ACCESORIES_1_004,PHI_1,ACCESORIES,ACCESORIES_1,Philadelphia,Midtown_Village,201105.0,6,34.6332,5.7722,...,1,29,NaN,NaN,NaN,4,1,0,0.5,0.866025

In [36]:
df_weekly[['Month', 'cos_year']].value_counts()

Month  cos_year
12      1.000000e+00    660088
3       6.123234e-17    640125
4      -5.000000e-01    594577
1       8.660254e-01    573464
8      -5.000000e-01    566746
2       5.000000e-01    559127
11      8.660254e-01    549342
10      5.000000e-01    537768
5      -8.660254e-01    524237
6      -1.000000e+00    515704
9      -1.836970e-16    507913
7      -8.660254e-01    492695
Name: count, dtype: int64

### Features climaticas

In [37]:
!pip install meteostat

Requirement already satisfied: meteostat in /usr/local/lib/python3.12/dist-packages (1.7.6)
Requirement already satisfied: pandas>=2 in /usr/local/lib/python3.12/dist-packages (from meteostat) (2.2.2)
Requirement already satisfied: pytz in /usr/local/lib/python3.12/dist-packages (from meteostat) (2025.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (from meteostat) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas>=2->meteostat) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas>=2->meteostat) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas>=2->meteostat) (1.17.0)

In [38]:
from meteostat import Point, Daily
from datetime import datetime, timedelta

In [39]:

# Diccionario con las coordenadas de las estaciones de aeropuerto
cities_config = {
    "Boston": Point(42.3656, -71.0096),       # KBOS
    "Philadelphia": Point(39.8730, -75.2437), # KPHL
    "New York": Point(40.6446, -73.7797)      # KJFK
}

In [40]:
start = datetime(2011, 1, 1)
end = datetime(2016, 12, 31)

In [41]:
def weekyearnum(dt):
    return dt.strftime("%Y%W")

def myweeyearknum(dt):
    offsetdt = dt + timedelta(days=+2) # Adding 2 days offset
    return weekyearnum(offsetdt)

In [42]:
list_of_dfs = []

for city_name, location in cities_config.items():

    data = Daily(location, start, end)
    data = data.fetch()

    data['rainy_day'] = (data['prcp'] > 0).astype(int)

    data['yearweek'] = data.index.to_series().apply(myweeyearknum)

    weekly_weather = data.groupby('yearweek').agg({
    'tavg': 'mean',  # Average Temp
    'tmin': 'min',   # Minimum Temp
    'tmax': 'max',   # Maximum Temp
    'prcp': 'sum',   # Total precipitation volume
    'snow': 'sum',   # Total snowfall
    'wspd': 'mean',  # Average wind speed
    'rainy_day': 'sum'  # Count of rainy days in the week
    })

    weekly_weather.rename(columns={'rainy_day': 'rain_days_count'}, inplace=True)

    weekly_weather['region'] = city_name

    weekly_weather = weekly_weather.reset_index()
    weekly_weather['yearweek'] = weekly_weather['yearweek'].astype(int)

    list_of_dfs.append(weekly_weather)

final_weather_df = pd.concat(list_of_dfs)
final_weather_df.to_csv('./weekly_weather_data_NYC_BOS_PHI.csv', index=False)

In [43]:
final_weather_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 960 entries, 0 to 319
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   yearweek         960 non-null    int64
 1   tavg             960 non-null    Float64
 2   tmin             960 non-null    Float64
 3   tmax             960 non-null    Float64
 4   prcp             960 non-null    Float64
 5   snow             960 non-null    Float64
 6   wspd             960 non-null    Float64
 7   rain_days_count  960 non-null    int64
 8   region           960 non-null    object
dtypes: Float64(6), int64(2), object(1)
memory usage: 80.6+ KB

In [44]:
final_weather_df.head()

,yearweek,tavg,tmin,tmax,prcp,snow,wspd,rain_days_count,region
0,201101,1.514286,-5.6,13.3,4.3,66.0,15.171429,2,Boston
1,201102,-2.357143,-7.8,1.7,43.0,157.0,23.142857,3,Boston
2,201103,-2.5,-10.0,4.4,47.4,265.0,16.928571,3,Boston
3,201104,-6.071429,-18.9,1.7,21.4,379.0,15.471429,3,Boston
4,201105,-3.642857,-8.9,2.8,33.2,470.0,14.771429,2,Boston

In [45]:
final_weather_df.shape

(960, 9)

In [46]:
final_weather_df.isnull().sum()

yearweek           0
tavg               0
tmin               0
tmax               0
prcp               0
snow               0
wspd               0
rain_days_count    0
region             0
dtype: int64

In [47]:
df_weekly_backup2 = df_weekly.copy()

In [48]:
df_weekly.merge(final_weather_df, on=['yearweek', 'region'], how='left')

,item,store_code,category_x,department,region,store,yearweek,sale,daily_revenue,sell_price,...,market_presence,sin_year,cos_year,tavg,tmin,tmax,prcp,snow,wspd,rain_days_count
0,ACCESORIES_1_004,BOS_1,ACCESORIES,ACCESORIES_1,Boston,South_End,201105.0,10,57.7220,5.7722,...,0,0.500000,0.866025,-3.642857,-8.9,2.8,33.2,470.0,14.771429,2
1,ACCESORIES_1_004,BOS_2,ACCESORIES,ACCESORIES_1,Boston,Roxbury,201105.0,15,86.5830,5.7722,...,0,0.500000,0.866025,-3.642857,-8.9,2.8,33.2,470.0,14.771429,2
2,ACCESORIES_1_004,NYC_2,ACCESORIES,ACCESORIES_1,New York,Harlem,201105.0,33,190.4826,5.7722,...,0,0.500000,0.866025,-1.2,-6.7,3.9,19.6,147.0,17.214286,3
3,ACCESORIES_1_004,NYC_4,ACCESORIES,ACCESORIES_1,New York,Brooklyn,201105.0,8,46.1776,5.7722,...,0,0.500000,0.866025,-1.2,-6.7,3.9,19.6,147.0,17.214286,3
4,ACCESORIES_1_004,PHI_1,ACCESORIES,ACCESORIES_1,Philadelphia,Midtown_Village,201105.0,6,34.6332,5.7722,...,0,0.500000,0.866025,-0.728571,-7.8,5.6,18.4,121.0,13.314286,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6721781,SUPERMARKET_3_827,NYC_3,SUPERMARKET,SUPERMARKET_3,New York,Tribeca,201617.0,16,19.2000,1.2000,...,114,0.866025,-0.500000,12.657143,7.8,21.7,4.8,0.0,15.885714,3
6721782,SUPERMARKET_3_827,NYC_4,SUPERMARKET,SUPERMARKET_3,New York,Brooklyn,201617.0,12,14.4000,1.2000,...,114,0.866025,-0.500000,12.657143,7.8,21.7,4.8,0.0,15.885714,3
6721783,SUPERMARKET_3_827,PHI_1,SUPERMARKET,SUPERMARKET_3,Philadelphia,Midtown_Village,201617.0,0,0.0000,1.2000,...,114,0.866025,-0.500000,14.4,7.2,30.0,9.9,0.0,14.4,3
6721784,SUPERMARKET_3_827,PHI_2,SUPERMARKET,SUPERMARKET_3,Philadelphia,Yorktown,201617.0,2,2.4000,1.2000,...,114,0.866025,-0.500000,14.4,7.2,30.0,9.9,0.0,14.4,3
6721785,SUPERMARKET_3_827,PHI_3,SUPERMARKET,SUPERMARKET_3,Philadelphia,Queen_Village,201617.0,0,0.0000,1.2000,...,114,0.866025,-0.500000,14.4,7.2,30.0,9.9,0.0,14.4,3

In [49]:
df_weekly.columns

Index(['item', 'store_code', 'category_x', 'department', 'region', 'store',
       'yearweek', 'sale', 'daily_revenue', 'sell_price', 'week_number',
       'Year', 'Quarter', 'Month', 'Day_month', 'price_mean_year',
       'price_proportion_item_department', 'changed_price_vs_mean', 'cluster',
       'release_week', 'market_presence', 'sin_year', 'cos_year'],
      dtype='object')

In [50]:
# Posibles Features

# cluster OK - falta OHE

  # nivel de precio
    # Precio medio - precio medio por ao anterior OK
    # Precio articulo / Precio medio department - precio medio dept ao anterior OK

  # elasticidad
    # Cambio de precio                        # % (Precio Actual / Precio medio ao anterior) - 1  OK

  #tendencia
    # permanencia en el mercado               # number_week - release_week OK
    # lag ventas (52)/(26)

  #Sociability


  #Regionality - con datos del ao anterior
    # Q(NY), Q(B), Q(PHI)

  #Seasonality
    # Q(Q1), Q(Q2), Q(Q3), Q(Q4)

  #Estables
    # media movil (3), (6)

# articulo, semana, y tienda

# preprocesamiento del target (dif, log)

  # id tienda OK
  # id ciudad OK

  # ventas medias por ciudad, por ciudad y categori
  # ventas medias por tiendas


  # semana previa a evento
  # semana evento
  # semana post evento
  # Clasificacion ABC Global                # ABC ITEM // PRECIO_ITEM / PRECIO_PROM_GENERAL

  # ao OK
  # mes / trimestre OK
  # sin / cos (year) OK
  # inicio / fin de mes OK

  # id category OK
  # id deparment OK



  # climaticos: [T media semanal por ciudad, Precipitacion media] OK

### Features de eventos

In [51]:
df_calendar.head()

   yearweek        date     Weekly_Event  Year  Quarter  Month  Day_month
0  201105.0  2011-01-29         No Event  2011        1      1         29
1  201106.0  2011-02-05        Superbowl  2011        1      2          5
2  201107.0  2011-02-12  Valentine's Day  2011        1      2         12
3  201108.0  2011-02-19  Presidents' Day  2011        1      2         19
4  201109.0  2011-02-26         No Event  2011        1      2         26

In [52]:
## Como ya tenemos los datos climticos (nieve, viento, etc), aadir el
# evento de "blizzard" y "hurricane" en la semana correspondiente sera redundante

clima_redundante = ["Blizzard", "Hurricane"]

def limpiar_eventos_climaticos(texto_evento):
    for termino in clima_redundante:
        if termino in texto_evento:
            return "No Event"

    return texto_evento

# Aplicamos la limpieza al calendario
df_calendar['Weekly_Event_Clean'] = df_calendar['Weekly_Event'].apply(limpiar_eventos_climaticos)

In [53]:
def crear_variable_anticipacion(df, event_column, string_event, max_weeks=8):
    """
    Creates a 'heat' feature (0 to max_weeks) indicating proximity to an event.
    df: DataFrame of the calendar (ordered)
    event_column: Name of the column with event texts (e.g., 'Weekly_Event_Clean')
    string_event: Text to search for (e.g., "Valentine's")
    max_weeks: How many weeks before to start counting (e.g., 4 or 8)
    """

    # identification of event occurrences (Boolean)
    is_event = df[event_column].str.contains(string_event, na=False, regex=False)

    # index series where event occurs
    event_indices = pd.Series(np.where(is_event, df.index, np.nan), index=df.index)

    # fill NaNs backwards with next valid event index
    next_event_index = event_indices.bfill()

    # Transform distance into "heat" (invert)
    distance = next_event_index - df.index
    heat_feature = distance.apply(lambda x: max(0, max_weeks - x) if not np.isnan(x) else 0)

    return heat_feature

In [54]:
df_calendar = df_calendar.sort_values('yearweek').reset_index(drop=True)

df_calendar['valentines_heat'] = crear_variable_anticipacion(df_calendar, 'Weekly_Event_Clean', "Valentine's Day", max_weeks=4)
df_calendar['xmas_heat'] = crear_variable_anticipacion(df_calendar, 'Weekly_Event_Clean', "Christmas", max_weeks=8)
df_calendar['superbowl_heat'] = crear_variable_anticipacion(df_calendar, 'Weekly_Event_Clean', "Superbowl", max_weeks=3)
df_calendar['thanksgiving_heat'] = crear_variable_anticipacion(df_calendar, 'Weekly_Event_Clean', "Thanksgiving", max_weeks=3)
df_calendar['july4_heat'] = crear_variable_anticipacion(df_calendar, 'Weekly_Event_Clean', "Independence Day", max_weeks=3)

# Verificacin visual
print(df_calendar[['yearweek', 'Weekly_Event_Clean', 'valentines_heat', 'xmas_heat', 'superbowl_heat', 'thanksgiving_heat', 'july4_heat']].head(20))

    yearweek            Weekly_Event_Clean  valentines_heat  xmas_heat  \
0   201105.0                      No Event              2.0        0.0
1   201106.0                     Superbowl              3.0        0.0
2   201107.0               Valentine's Day              4.0        0.0
3   201108.0               Presidents' Day              0.0        0.0
4   201109.0                      No Event              0.0        0.0
5   201110.0                      No Event              0.0        0.0
6   201111.0                      No Event              0.0        0.0
7   201112.0                      No Event              0.0        0.0
8   201113.0                      No Event              0.0        0.0
9   201114.0                      No Event              0.0        0.0
10  201115.0                      No Event              0.0        0.0
11  201116.0        Patriots' Day (Boston)              0.0        0.0
12  201117.0                 Easter Sunday              0.0        0.0
13  201118.0                      No Event              0.0        0.0
14  201119.0                      No Event              0.0        0.0
15  201120.0                      No Event              0.0        0.0
16  201121.0                Fleet Week NYC              0.0        0.0
17  201122.0  Memorial Day, Fleet Week NYC              0.0        0.0
18  201123.0                      No Event              0.0        0.0
19  201124.0                      No Event              0.0        0.0

    superbowl_heat  thanksgiving_heat  july4_heat
0              2.0                0.0         0.0
1              3.0                0.0         0.0
2              0.0                0.0         0.0
3              0.0                0.0         0.0
4              0.0                0.0         0.0
5              0.0                0.0         0.0
6              0.0                0.0         0.0
7              0.0                0.0         0.0
8              0.0                0.0         0.0
9              0.0                0.0         0.0
10             0.0                0.0         0.0
11             0.0                0.0         0.0
12             0.0                0.0         0.0
13             0.0                0.0         0.0
14             0.0                0.0         0.0
15             0.0                0.0         0.0
16             0.0                0.0         0.0
17             0.0                0.0         0.0
18             0.0                0.0         0.0
19             0.0                0.0         0.0

In [55]:
shopping_keys = ["Black Friday", "Cyber Monday", "Christmas", "Valentine's Day"]
closed_keys = ["New Year's Day", "Thanksgiving", "Christmas", "Independence Day"]

In [56]:
def classify_event(event_string, keys):
    """Returns 1 if any key is found in the event string description."""
    if event_string == "No Event":
        return 0
    # Check if any key substring is present in the weekly event string
    for key in keys:
        if key in event_string:
            return 1
    return 0

In [57]:
df_calendar['is_shopping_event'] = df_calendar['Weekly_Event_Clean'].apply(lambda x: classify_event(x, shopping_keys))
df_calendar['is_holiday_closed'] = df_calendar['Weekly_Event_Clean'].apply(lambda x: classify_event(x, closed_keys))

In [58]:
df_calendar.head()

,yearweek,date,Weekly_Event,Year,Quarter,Month,Day_month,Weekly_Event_Clean,valentines_heat,xmas_heat,superbowl_heat,thanksgiving_heat,july4_heat,is_shopping_event,is_holiday_closed
0,201105.0,2011-01-29,No Event,2011,1,1,29,No Event,2.0,0.0,2.0,0.0,0.0,0,0
1,201106.0,2011-02-05,Superbowl,2011,1,2,5,Superbowl,3.0,0.0,3.0,0.0,0.0,0,0
2,201107.0,2011-02-12,Valentine's Day,2011,1,2,12,Valentine's Day,4.0,0.0,0.0,0.0,0.0,1,0
3,201108.0,2011-02-19,Presidents' Day,2011,1,2,19,Presidents' Day,0.0,0.0,0.0,0.0,0.0,0,0
4,201109.0,2011-02-26,No Event,2011,1,2,26,No Event,0.0,0.0,0.0,0.0,0.0,0,0

In [59]:
df_weekly_backup3 = df_weekly.copy()

In [60]:
### Hacemos merge del calendario con las nuevas features al df_weekly
df_weekly = df_weekly.merge(df_calendar[['yearweek', 'valentines_heat', 'xmas_heat', 'superbowl_heat',
                                        'thanksgiving_heat', 'july4_heat', 'is_shopping_event', 'is_holiday_closed']],
                            on='yearweek', how='left')

In [61]:
df_weekly.head()

,item,store_code,category_x,department,region,store,yearweek,sale,daily_revenue,sell_price,...,market_presence,sin_year,cos_year,valentines_heat,xmas_heat,superbowl_heat,thanksgiving_heat,july4_heat,is_shopping_event,is_holiday_closed
0,ACCESORIES_1_004,BOS_1,ACCESORIES,ACCESORIES_1,Boston,South_End,201105.0,10,57.7220,5.7722,...,0,0.5,0.866025,2.0,0.0,2.0,0.0,0.0,0,0
1,ACCESORIES_1_004,BOS_2,ACCESORIES,ACCESORIES_1,Boston,Roxbury,201105.0,15,86.5830,5.7722,...,0,0.5,0.866025,2.0,0.0,2.0,0.0,0.0,0,0
2,ACCESORIES_1_004,NYC_2,ACCESORIES,ACCESORIES_1,New York,Harlem,201105.0,33,190.4826,5.7722,...,0,0.5,0.866025,2.0,0.0,2.0,0.0,0.0,0,0
3,ACCESORIES_1_004,NYC_4,ACCESORIES,ACCESORIES_1,New York,Brooklyn,201105.0,8,46.1776,5.7722,...,0,0.5,0.866025,2.0,0.0,2.0,0.0,0.0,0,0
4,ACCESORIES_1_004,PHI_1,ACCESORIES,ACCESORIES_1,Philadelphia,Midtown_Village,201105.0,6,34.6332,5.7722,...,0,0.5,0.866025,2.0,0.0,2.0,0.0,0.0,0,0

In [62]:
df_weekly[df_weekly['xmas_heat'] == 8]

,item,store_code,category_x,department,region,store,yearweek,sale,daily_revenue,sell_price,...,market_presence,sin_year,cos_year,valentines_heat,xmas_heat,superbowl_heat,thanksgiving_heat,july4_heat,is_shopping_event,is_holiday_closed
710630,ACCESORIES_1_002,BOS_1,ACCESORIES,ACCESORIES_1,Boston,South_End,201152.0,0,0.0000,5.2801,...,42,-2.449294e-16,1.0,0.0,8.0,0.0,0.0,0.0,1,1
710631,ACCESORIES_1_002,BOS_2,ACCESORIES,ACCESORIES_1,Boston,Roxbury,201152.0,2,10.5602,5.2801,...,42,-2.449294e-16,1.0,0.0,8.0,0.0,0.0,0.0,1,1
710632,ACCESORIES_1_002,BOS_3,ACCESORIES,ACCESORIES_1,Boston,Back_Bay,201152.0,1,5.2801,5.2801,...,42,-2.449294e-16,1.0,0.0,8.0,0.0,0.0,0.0,1,1
710633,ACCESORIES_1_002,NYC_1,ACCESORIES,ACCESORIES_1,New York,Greenwich_Village,201152.0,2,10.5602,5.2801,...,42,-2.449294e-16,1.0,0.0,8.0,0.0,0.0,0.0,1,1
710634,ACCESORIES_1_002,NYC_2,ACCESORIES,ACCESORIES_1,New York,Harlem,201152.0,4,21.1204,5.2801,...,42,-2.449294e-16,1.0,0.0,8.0,0.0,0.0,0.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6142574,SUPERMARKET_3_827,NYC_3,SUPERMARKET,SUPERMARKET_3,New York,Tribeca,201551.0,22,26.4000,1.2000,...,95,-2.449294e-16,1.0,0.0,8.0,0.0,0.0,0.0,1,1
6142575,SUPERMARKET_3_827,NYC_4,SUPERMARKET,SUPERMARKET_3,New York,Brooklyn,201551.0,0,0.0000,1.2000,...,95,-2.449294e-16,1.0,0.0,8.0,0.0,0.0,0.0,1,1
6142576,SUPERMARKET_3_827,PHI_1,SUPERMARKET,SUPERMARKET_3,Philadelphia,Midtown_Village,201551.0,11,13.2000,1.2000,...,95,-2.449294e-16,1.0,0.0,8.0,0.0,0.0,0.0,1,1
6142577,SUPERMARKET_3_827,PHI_2,SUPERMARKET,SUPERMARKET_3,Philadelphia,Yorktown,201551.0,11,13.2000,1.2000,...,95,-2.449294e-16,1.0,0.0,8.0,0.0,0.0,0.0,1,1
6142578,SUPERMARKET_3_827,PHI_3,SUPERMARKET,SUPERMARKET_3,Philadelphia,Queen_Village,201551.0,12,14.4000,1.2000,...,95,-2.449294e-16,1.0,0.0,8.0,0.0,0.0,0.0,1,1

In [63]:
df_weekly.columns

Index(['item', 'store_code', 'category_x', 'department', 'region', 'store',
       'yearweek', 'sale', 'daily_revenue', 'sell_price', 'week_number',
       'Year', 'Quarter', 'Month', 'Day_month', 'price_mean_year',
       'price_proportion_item_department', 'changed_price_vs_mean', 'cluster',
       'release_week', 'market_presence', 'sin_year', 'cos_year',
       'valentines_heat', 'xmas_heat', 'superbowl_heat', 'thanksgiving_heat',
       'july4_heat', 'is_shopping_event', 'is_holiday_closed'],
      dtype='object')

In [64]:
# Posibles Features

# cluster OK - falta OHE

  # nivel de precio
    # Precio medio - precio medio por ao anterior OK
    # Precio articulo / Precio medio department - precio medio dept ao anterior OK

  # elasticidad
    # Cambio de precio                        # % (Precio Actual / Precio medio ao anterior) - 1  OK

  #tendencia
    # permanencia en el mercado               # number_week - release_week OK
    # lag ventas (52)/(26)

  #Sociability


  #Regionality - con datos del ao anterior
    # Q(NY), Q(B), Q(PHI)

  #Seasonality
    # Q(Q1), Q(Q2), Q(Q3), Q(Q4)

  #Estables
    # media movil (3), (6)

# articulo, semana, y tienda

# preprocesamiento del target (dif, log)

  # id tienda OK
  # id ciudad OK

  # ventas medias por ciudad, por ciudad y categori
  # ventas medias por tiendas


  # semana previa a evento individual                  OK
  # semana evento individual                           OK

  # semana previa a evento evento
  # semana evento                                      OK
  # semana post evento





  # Clasificacion ABC Global                # ABC ITEM // PRECIO_ITEM / PRECIO_PROM_GENERAL

  # ao OK
  # mes / trimestre OK
  # sin / cos (year) OK
  # inicio / fin de mes OK

  # id category OK
  # id deparment OK



  # climaticos: [T media semanal por ciudad, Precipitacion media] OK

### Features de lag y rolling mean

In [65]:

# Lags (Past values)
df_weekly.sort_values(by=['yearweek', 'item', 'store_code'],ascending=True, inplace=True)
# Previous week sales (t-1)
#df_weekly['lag_1_sale'] = df_weekly.groupby(['item', 'store_code','week_number'])['sale'].shift(1)

# Sales 4 weeks ago (approx 1 month)
#df_weekly['lag_4_sale'] = df_weekly.groupby(['item', 'store_code','week_number'])['sale'].shift(4)

# Sales 26 weeks ago (approx 6 months)
#df_weekly['lag_26_sale'] = df_weekly.groupby(['item', 'store_code','week_number'])['sale'].shift(26)

# Sales 52 weeks ago (approx 1 year)
#df_weekly['lag_52_sale'] = df_weekly.groupby(['item', 'store_code','week_number'])['sale'].shift(52)

In [66]:
"""
# Rolling Features
# 4-week moving average (shows trend without noise)

df_weekly['rolling_mean_4w_sale'] = df_weekly.groupby(['item', 'store_code'])['sale'].transform(lambda x: x.rolling(window=4).mean())


# Codigo alternativo (incluye groupby por week_number y shift(1) para evitar leakage)

df_weekly['rolling_mean_4w_sale'] = (
df_weekly.groupby(['item', 'store_code','week_number'])['sale']
    .transform(lambda series: series.shift(1).rolling(window = 4).mean())
    .reset_index()
)





"""

"\n# Rolling Features\n# 4-week moving average (shows trend without noise)\n\ndf_weekly['rolling_mean_4w_sale'] = df_weekly.groupby(['item', 'store_code'])['sale'].transform(lambda x: x.rolling(window=4).mean())\n\n\n# Codigo alternativo (incluye groupby por week_number y shift(1) para evitar leakage)\n\ndf_weekly['rolling_mean_4w_sale'] = (\ndf_weekly.groupby(['item', 'store_code','week_number'])['sale']\n    .transform(lambda series: series.shift(1).rolling(window = 4).mean())\n    .reset_index() \n)\n\n\n\n\n\n"

In [67]:
# Posibles Features

# cluster OK - falta OHE

  # nivel de precio
    # Precio medio - precio medio por ao anterior OK
    # Precio articulo / Precio medio department - precio medio dept ao anterior OK

  # elasticidad
    # Cambio de precio                        # % (Precio Actual / Precio medio ao anterior) - 1  OK

  #tendencia
    # permanencia en el mercado               # number_week - release_week OK
    # lag ventas (52)/(26)                    OK

  #Sociability


  #Regionality - con datos del ao anterior
    # Q(NY), Q(B), Q(PHI)

  #Seasonality
    # Q(Q1), Q(Q2), Q(Q3), Q(Q4)

  #Estables
    # media movil (3), (6)

# articulo, semana, y tienda

# preprocesamiento del target (dif, log)

  # id tienda OK
  # id ciudad OK

  # ventas medias por ciudad, por ciudad y categori
  # ventas medias por tiendas


  # semana previa a evento                          OK
  # semana evento                                   OK
  # semana post evento                              OK



  # Clasificacion ABC Global                # ABC ITEM // PRECIO_ITEM / PRECIO_PROM_GENERAL

  # ao OK
  # mes / trimestre OK
  # sin / cos (year) OK
  # inicio / fin de mes OK

  # id category OK
  # id deparment OK



  # climaticos: [T media semanal por ciudad, Precipitacion media] OK

### Features de Regionality

In [68]:
column_segmentation = 'region'

In [69]:
df_weekly_sales_region_year =  df_weekly.groupby(['item','Year', column_segmentation])['sale'].sum().reset_index()

In [70]:
df_weekly_sales_year =  df_weekly.groupby(['item','Year'])['sale'].sum().reset_index().rename(columns={'sale':'sale_year'})

In [71]:
df_weekly_sales_region_year = df_weekly_sales_region_year.merge(df_weekly_sales_year, on=['item', 'Year'], how='left')

In [72]:
df_weekly_sales_region_year.head()

               item  Year        region  sale  sale_year
0  ACCESORIES_1_001  2013        Boston   146        598
1  ACCESORIES_1_001  2013      New York   406        598
2  ACCESORIES_1_001  2013  Philadelphia    46        598
3  ACCESORIES_1_001  2014        Boston   316       1282
4  ACCESORIES_1_001  2014      New York   817       1282

In [73]:
df_weekly_sales_region_year['sale_region_proportion'] = df_weekly_sales_region_year['sale'] / df_weekly_sales_region_year['sale_year']

In [74]:
lag_year = 1
df_weekly_sales_region_year[f'Year_lag_{lag_year}'] = df_weekly_sales_region_year['Year'] + lag_year

In [75]:
df_weekly_sales_region_year.head()

,item,Year,region,sale,sale_year,sale_region_proportion,Year_lag_1
0,ACCESORIES_1_001,2013,Boston,146,598,0.244147,2014
1,ACCESORIES_1_001,2013,New York,406,598,0.678930,2014
2,ACCESORIES_1_001,2013,Philadelphia,46,598,0.076923,2014
3,ACCESORIES_1_001,2014,Boston,316,1282,0.246490,2015
4,ACCESORIES_1_001,2014,New York,817,1282,0.637285,2015

In [76]:
"""
# merge weekly: anexamos a item, region, year con item, region, year_lag_1
df_weekly = df_weekly.merge(df_weekly_sales_region_year[['item', 'region', 'Year_lag_1', 'sale_region_proportion']],
                            left_on=['item', 'region', 'Year'], right_on=['item', 'region', 'Year_lag_1'],
                            how='left')
"""

"\n# merge weekly: anexamos a item, region, year con item, region, year_lag_1\ndf_weekly = df_weekly.merge(df_weekly_sales_region_year[['item', 'region', 'Year_lag_1', 'sale_region_proportion']],\n                            left_on=['item', 'region', 'Year'], right_on=['item', 'region', 'Year_lag_1'],\n                            how='left')\n"

In [ ]:
# Posibles Features

# cluster OK - falta OHE

  # nivel de precio
    # Precio medio - precio medio por ao anterior OK
    # Precio articulo / Precio medio department - precio medio dept ao anterior OK

  # elasticidad
    # Cambio de precio                        # % (Precio Actual / Precio medio ao anterior) - 1  OK

  #tendencia
    # permanencia en el mercado               # number_week - release_week OK
    # lag ventas (52)/(26)                    OK

  #Sociability


  #Regionality - con datos del ao anterior
    # Q(NY), Q(B), Q(PHI)                       OK

  #Seasonality
    # Q(Q1), Q(Q2), Q(Q3), Q(Q4)

  #Estables
    # media movil (3), (6)

# articulo, semana, y tienda

# preprocesamiento del target (dif, log)

  # id tienda OK
  # id ciudad OK

  # ventas medias por ciudad, por ciudad y categori
  # ventas medias por tiendas


  # semana previa a evento                          OK
  # semana evento                                   OK
  # semana post evento                              OK



  # Clasificacion ABC Global                # ABC ITEM // PRECIO_ITEM / PRECIO_PROM_GENERAL

  # ao OK
  # mes / trimestre OK
  # sin / cos (year) OK
  # inicio / fin de mes OK

  # id category OK
  # id deparment OK



  # climaticos: [T media semanal por ciudad, Precipitacion media] OK

### Features de Sesionality

In [77]:
column_segmentation = 'Quarter'

In [83]:
df_weekly_sales_quarter_year =  df_weekly.groupby(['item','Year', column_segmentation])['sale'].sum().reset_index()

In [84]:
df_weekly_sales_year =  df_weekly.groupby(['item','Year'])['sale'].sum().reset_index().rename(columns={'sale':'sale_year'})

In [85]:
df_weekly_sales_quarter_year = df_weekly_sales_quarter_year.merge(df_weekly_sales_year, on=['item', 'Year'], how='left')

In [86]:
df_weekly_sales_quarter_year.head()

               item  Year  Quarter  sale  sale_year
0  ACCESORIES_1_001  2013        3   224        598
1  ACCESORIES_1_001  2013        4   374        598
2  ACCESORIES_1_001  2014        1   327       1282
3  ACCESORIES_1_001  2014        2   303       1282
4  ACCESORIES_1_001  2014        3   302       1282

In [87]:
df_weekly_sales_quarter_year['sale_quarter_proportion'] = df_weekly_sales_quarter_year['sale'] / df_weekly_sales_quarter_year['sale_year']

In [88]:
lag_year = 1
df_weekly_sales_quarter_year[f'Year_lag_{lag_year}'] = df_weekly_sales_quarter_year['Year'] + lag_year

In [89]:
df_weekly_sales_quarter_year.head()

,item,Year,Quarter,sale,sale_year,sale_quarter_proportion,Year_lag_1
0,ACCESORIES_1_001,2013,3,224,598,0.374582,2014
1,ACCESORIES_1_001,2013,4,374,598,0.625418,2014
2,ACCESORIES_1_001,2014,1,327,1282,0.255070,2015
3,ACCESORIES_1_001,2014,2,303,1282,0.236349,2015
4,ACCESORIES_1_001,2014,3,302,1282,0.235569,2015

In [90]:
"""
# merge weekly: anexamos a item, region, year con item, region, year_lag_1
df_weekly = df_weekly.merge(df_weekly_sales_region_year[['item', column_segmentation, 'Year_lag_1', 'sale_region_proportion']],
                            left_on=['item', column_segmentation, 'Year'], right_on=['item', column_segmentation, 'Year_lag_1'],
                            how='left')
"""

"\n# merge weekly: anexamos a item, region, year con item, region, year_lag_1\ndf_weekly = df_weekly.merge(df_weekly_sales_region_year[['item', 'region', 'Year_lag_1', 'sale_region_proportion']],\n                            left_on=['item', 'region', 'Year'], right_on=['item', 'region', 'Year_lag_1'],\n                            how='left')\n"

In [ ]:
# Posibles Features

# cluster OK - falta OHE

  # nivel de precio
    # Precio medio - precio medio por ao anterior OK
    # Precio articulo / Precio medio department - precio medio dept ao anterior OK

  # elasticidad
    # Cambio de precio                        # % (Precio Actual / Precio medio ao anterior) - 1  OK

  #tendencia
    # permanencia en el mercado               # number_week - release_week OK
    # lag ventas (52)/(26)                    OK

  #Sociability


  #Regionality - con datos del ao anterior
    # Q(NY), Q(B), Q(PHI)                       OK

  #Seasonality
    # Q(Q1), Q(Q2), Q(Q3), Q(Q4)                OK

  #Estables
    # media movil (3), (6)

# articulo, semana, y tienda

# preprocesamiento del target (dif, log)

  # id tienda OK
  # id ciudad OK

  # ventas medias por ciudad, por ciudad y categori
  # ventas medias por tiendas


  # semana previa a evento                          OK
  # semana evento                                   OK
  # semana post evento                              OK



  # Clasificacion ABC Global                # ABC ITEM // PRECIO_ITEM / PRECIO_PROM_GENERAL

  # ao OK
  # mes / trimestre OK
  # sin / cos (year) OK
  # inicio / fin de mes OK

  # id category OK
  # id deparment OK



  # climaticos: [T media semanal por ciudad, Precipitacion media] OK

### Features de ventas agrupadas

### Procesamiento de target no estacionario

In [76]:
"""
preprocesamiento del target (dif, log)

# Variation / Detrending (Target for stationary models)
# "Diff": Absolute difference (Current - Previous)
df_weekly['sales_diff'] = df_weekly.groupby(['item', 'store_code'])['sale'].diff(1)
df_weekly['price_diff'] = df_weekly.groupby(['item', 'store_code'])['sell_price'].diff(1)

# "Log": Natural logarithm
df_weekly['sales_log'] = np.log(df_weekly['sale'])

"""

'\npreprocesamiento del target (dif, log)\n\n# Variation / Detrending (Target for stationary models)\n# "Diff": Absolute difference (Current - Previous)\ndf_weekly[\'sales_diff\'] = df_weekly.groupby([\'item\', \'store_code\'])[\'sale\'].diff(1)\ndf_weekly[\'price_diff\'] = df_weekly.groupby([\'item\', \'store_code\'])[\'sell_price\'].diff(1)\n\n# "Log": Natural logarithm\ndf_weekly[\'sales_log\'] = np.log(df_weekly[\'sale\'])\n\n'

## 3. Encoding de columnas

## 4. Particion

In [77]:
"""
week_number_val = 260
week_number_test = 274

df_validation = df_weekly[df_weekly.week_number.between(week_number_val, week_number_test - 1)]
df_test = df_weekly[df_weekly.week_number >= week_number_test]
"""

'\nweek_number_val = 260\nweek_number_test = 274\n\ndf_validation = df_weekly[df_weekly.week_number.between(week_number_val, week_number_test - 1)]\ndf_test = df_weekly[df_weekly.week_number >= week_number_test]\n'

# REFACTORIZAMOS BUSQUEDA DE FEATURES

In [ ]:
results = {}

In [ ]:
columnas = df_features.columns
meta_data = ['unique_id', 'date', 'monthly_sales']
list_features = list(set(columnas) - set(meta_data))

In [ ]:
df_features2 = df_features.copy()

In [ ]:
all_dates = sorted(df_features2["date"].unique())

train_dates = all_dates[:-4]
test_dates = all_dates[-4:-2]
validation_dates = all_dates[-2:-1]

prediction_dates = [all_dates[-1]]

In [ ]:
def select_features(list_features):
  import random
  #seleccionamos una cantidad random de features
  k = random.randint(4, 7)
  features_selected = random.sample(list_features, k)
  return features_selected

In [ ]:
for i in range(1, 600):
  print(i)
  df_features2 = df_features.copy()

  features_selected = select_features(list_features)
  df_features2 = seleccionar_columnas(df_features2, features_selected)

  X_train, y_train = get_data_splits(df=df_features2, split_dates=train_dates)
  X_test, y_test = get_data_splits(df=df_features2, split_dates=test_dates)
#  X_val, y_val = get_data_splits(df=df_features2, split_dates=validation_dates)
#  X_pred, y_pred = get_data_splits(df=df_features2, split_dates=prediction_dates)

  model = xgboost.XGBRegressor( random_state = 42
    #max_depth = 4,
    #nr_estimators = 30
  )
  model.fit(
    X = X_train,
    y = y_train,
    #eval_set = [(X_train, y_train), (X_test, y_test)],
    #early_stopping_rounds = 20
  )
  y_train_pred = model.predict(X_train)
  rmse_train = root_mean_squared_error(y_true = y_train, y_pred=y_train_pred)
  y_test_pred = model.predict(X_test)
  rmse_test = root_mean_squared_error(y_true = y_test, y_pred=y_test_pred)

  results[i] = [list(set(features_selected) - set(meta_data)), rmse_train, rmse_test]

1
[Timestamp('2013-01-31 00:00:00'), Timestamp('2013-02-28 00:00:00'), Timestamp('2013-03-31 00:00:00'), Timestamp('2013-04-30 00:00:00'), Timestamp('2013-05-31 00:00:00'), Timestamp('2013-06-30 00:00:00'), Timestamp('2013-07-31 00:00:00'), Timestamp('2013-08-31 00:00:00'), Timestamp('2013-09-30 00:00:00'), Timestamp('2013-10-31 00:00:00'), Timestamp('2013-11-30 00:00:00'), Timestamp('2013-12-31 00:00:00'), Timestamp('2014-01-31 00:00:00'), Timestamp('2014-02-28 00:00:00'), Timestamp('2014-03-31 00:00:00'), Timestamp('2014-04-30 00:00:00'), Timestamp('2014-05-31 00:00:00'), Timestamp('2014-06-30 00:00:00'), Timestamp('2014-07-31 00:00:00'), Timestamp('2014-08-31 00:00:00'), Timestamp('2014-09-30 00:00:00'), Timestamp('2014-10-31 00:00:00'), Timestamp('2014-11-30 00:00:00'), Timestamp('2014-12-31 00:00:00'), Timestamp('2015-01-31 00:00:00'), Timestamp('2015-02-28 00:00:00'), Timestamp('2015-03-31 00:00:00'), Timestamp('2015-04-30 00:00:00'), Timestamp('2015-05-31 00:00:00'), Timestamp('2015-06-30 00:00:00')]
(12478, 7) (12478,)
[Timestamp('2015-07-31 00:00:00'), Timestamp('2015-08-31 00:00:00')]
(852, 7) (852,)
2
[Timestamp('2013-01-31 00:00:00'), Timestamp('2013-02-28 00:00:00'), Timestamp('2013-03-31 00:00:00'), Timestamp('2013-04-30 00:00:00'), Timestamp('2013-05-31 00:00:00'), Timestamp('2013-06-30 00:00:00'), Timestamp('2013-07-31 00:00:00'), Timestamp('2013-08-31 00:00:00'), Timestamp('2013-09-30 00:00:00'), Timestamp('2013-10-31 00:00:00'), Timestamp('2013-11-30 00:00:00'), Timestamp('2013-12-31 00:00:00'), Timestamp('2014-01-31 00:00:00'), Timestamp('2014-02-28 00:00:00'), Timestamp('2014-03-31 00:00:00'), Timestamp('2014-04-30 00:00:00'), Timestamp('2014-05-31 00:00:00'), Timestamp('2014-06-30 00:00:00'), Timestamp('2014-07-31 00:00:00'), Timestamp('2014-08-31 00:00:00'), Timestamp('2014-09-30 00:00:00'), Timestamp('2014-10-31 00:00:00'), Timestamp('2014-11-30 00:00:00'), Timestamp('2014-12-31 00:00:00'), Timestamp('2015-01-31 00:00:00'), Timestamp('2015-02-28 00:00:00'), Timestamp('2015-03-31 00:00:00'), Timestamp('2015-04-30 00:00:00'), Timestamp('2015-05-31 00:00:00'), Timestamp('2015-06-30 00:00:00')]
(12478, 4) (12478,)
[Timestamp('2015-07-31 00:00:00'), Timestamp('2015-08-31 00:00:00')]
(852, 4) (852,)
3
[Timestamp('2013-01-31 00:00:00'), Timestamp('2013-02-28 00:00:00'), Timestamp('2013-03-31 00:00:00'), Timestamp('2013-04-30 00:00:00'), Timestamp('2013-05-31 00:00:00'), Timestamp('2013-06-30 00:00:00'), Timestamp('2013-07-31 00:00:00'), Timestamp('2013-08-31 00:00:00'), Timestamp('2013-09-30 00:00:00'), Timestamp('2013-10-31 00:00:00'), Timestamp('2013-11-30 00:00:00'), Timestamp('2013-12-31 00:00:00'), Timestamp('2014-01-31 00:00:00'), Timestamp('2014-02-28 00:00:00'), Timestamp('2014-03-31 00:00:00'), Timestamp('2014-04-30 00:00:00'), Timestamp('2014-05-31 00:00:00'), Timestamp('2014-06-30 00:00:00'), Timestamp('2014-07-31 00:00:00'), Timestamp('2014-08-31 00:00:00'), Timestamp('2014-09-30 00:00:00'), Timestamp('2014-10-31 00:00:00'), Timestamp('2014-11-30 00:00:00'), Timestamp('2014-12-31 00:00:00'), Timestamp('2015-01-31 00:00:00'), Timestamp('2015-02-28 00:00:00'), Timestamp('2015-03-31 00:00:00'), Timestamp('2015-04-30 00:00:00'), Timestamp('2015-05-31 00:00:00'), Timestamp('2015-06-30 00:00:00')]
(12478, 5) (12478,)
[Timestamp('2015-07-31 00:00:00'), Timestamp('2015-08-31 00:00:00')]
(852, 5) (852,)
4
[Timestamp('2013-01-31 00:00:00'), Timestamp('2013-02-28 00:00:00'), Timestamp('2013-03-31 00:00:00'), Timestamp('2013-04-30 00:00:00'), Timestamp('2013-05-31 00:00:00'), Timestamp('2013-06-30 00:00:00'), Timestamp('2013-07-31 00:00:00'), Timestamp('2013-08-31 00:00:00'), Timestamp('2013-09-30 00:00:00'), Timestamp('2013-10-31 00:00:00'), Timestamp('2013-11-30 00:00:00'), Timestamp('2013-12-31 00:00:00'), Timestamp('2014-01-31 00:00:00'), Timestamp('2014-02-28 00:00:00'), Timestamp('2014-03-31 00:00:00'), Timestamp('2014-04-30 00:00:00'), Timestamp('2014-05-31 00:00:00'), Timestamp('2014-06-30 00:00:00'), Timestamp('2014-07-31 00:00:00'), Timestamp('2014-08-31 00:00:00'), Timestamp('2014-09-30 00:00:00'), Timestamp('2014-10-31 00:00:00'), Timestamp('2014-11-30 00:00:00'), Timestamp('2014-12-31 00:00:00'), Timestamp('2015-01-31 00:00:00'), Timestamp('2015-02-28 00:00:00'), Timestamp('2015-03-31 00:00:00'), Timestamp('2015-04-30 00:00:00'), Timestamp('2015-05-31 00:00:00'), Timestamp('2015-06-30 00:00:00')]
(12478, 4) (12478,)
[Timestamp('2015-07-31 00:00:00'), Timestamp('2015-08-31 00:00:00')]
(852, 4) (852,)
5
[Timestamp('2013-01-31 00:00:00'), Timestamp('2013-02-28 00:00:00'), Timestamp('2013-03-31 00:00:00'), Timestamp('2013-04-30 00:00:00'), Timestamp('2013-05-31 00:00:00'), Timestamp('2013-06-30 00:00:00'), Timestamp('2013-07-31 00:00:00'), Timestamp('2013-08-31 00:00:00'), Timestamp('2013-09-30 00:00:00'), Timestamp('2013-10-31 00:00:00'), Timestamp('2013-11-30 00:00:00'), Timestamp('2013-12-31 00:00:00'), Timestamp('2014-01-31 00:00:00'), Timestamp('2014-02-28 00:00:00'), Timestamp('2014-03-31 00:00:00'), Timestamp('2014-04-30 00:00:00'), Timestamp('2014-05-31 00:00:00'), Timestamp('2014-06-30 00:00:00'), Timestamp('2014-07-31 00:00:00'), Timestamp('2014-08-31 00:00:00'), Timestamp('2014-09-30 00:00:00'), Timestamp('2014-10-31 00:00:00'), Timestamp('2014-11-30 00:00:00'), Timestamp('2014-12-31 00:00:00'), Timestamp('2015-01-31 00:00:00'), Timestamp('2015-02-28 00:00:00'), Timestamp('2015-03-31 00:00:00'), Timestamp('2015-04-30 00:00:00'), Timestamp('2015-05-31 00:00:00'), Timestamp('2015-06-30 00:00:00')]
(12478, 6) (12478,)
[Timestamp('2015-07-31 00:00:00'), Timestamp('2015-08-31 00:00:00')]
(852, 6) (852,)
6
[Timestamp('2013-01-31 00:00:00'), Timestamp('2013-02-28 00:00:00'), Timestamp('2013-03-31 00:00:00'), Timestamp('2013-04-30 00:00:00'), Timestamp('2013-05-31 00:00:00'), Timestamp('2013-06-30 00:00:00'), Timestamp('2013-07-31 00:00:00'), Timestamp('2013-08-31 00:00:00'), Timestamp('2013-09-30 00:00:00'), Timestamp('2013-10-31 00:00:00'), Timestamp('2013-11-30 00:00:00'), Timestamp('2013-12-31 00:00:00'), Timestamp('2014-01-31 00:00:00'), Timestamp('2014-02-28 00:00:00'), Timestamp('2014-03-31 00:00:00'), Timestamp('2014-04-30 00:00:00'), Timestamp('2014-05-31 00:00:00'), Timestamp('2014-06-30 00:00:00'), Timestamp('2014-07-31 00:00:00'), Timestamp('2014-08-31 00:00:00'), Timestamp('2014-09-30 00:00:00'), Timestamp('2014-10-31 00:00:00'), Timestamp('2014-11-30 00:00:00'), Timestamp('2014-12-31 00:00:00'), Timestamp('2015-01-31 00:00:00'), Timestamp('2015-02-28 00:00:00'), Timestamp('2015-03-31 00:00:00'), Timestamp('2015-04-30 00:00:00'), Timestamp('2015-05-31 00:00:00'), Timestamp('2015-06-30 00:00:00')]
(12478, 6) (12478,)
[Timestamp('2015-07-31 00:00:00'), Timestamp('2015-08-31 00:00:00')]
(852, 6) (852,)
7
[Timestamp('2013-01-31 00:00:00'), Timestamp('2013-02-28 00:00:00'), Timestamp('2013-03-31 00:00:00'), Timestamp('2013-04-30 00:00:00'), Timestamp('2013-05-31 00:00:00'), Timestamp('2013-06-30 00:00:00'), Timestamp('2013-07-31 00:00:00'), Timestamp('2013-08-31 00:00:00'), Timestamp('2013-09-30 00:00:00'), Timestamp('2013-10-31 00:00:00'), Timestamp('2013-11-30 00:00:00'), Timestamp('2013-12-31 00:00:00'), Timestamp('2014-01-31 00:00:00'), Timestamp('2014-02-28 00:00:00'), Timestamp('2014-03-31 00:00:00'), Timestamp('2014-04-30 00:00:00'), Timestamp('2014-05-31 00:00:00'), Timestamp('2014-06-30 00:00:00'), Timestamp('2014-07-31 00:00:00'), Timestamp('2014-08-31 00:00:00'), Timestamp('2014-09-30 00:00:00'), Timestamp('2014-10-31 00:00:00'), Timestamp('2014-11-30 00:00:00'), Timestamp('2014-12-31 00:00:00'), Timestamp('2015-01-31 00:00:00'), Timestamp('2015-02-28 00:00:00'), Timestamp('2015-03-31 00:00:00'), Timestamp('2015-04-30 00:00:00'), Timestamp('2015-05-31 00:00:00'), Timestamp('2015-06-30 00:00:00')]
(12478, 4) (12478,)
[Timestamp('2015-07-31 00:00:00'), Timestamp('2015-08-31 00:00:00')]
(852, 4) (852,)
8
[Timestamp('2013-01-31 00:00:00'), Timestamp('2013-02-28 00:00:00'), Timestamp('2013-03-31 00:00:00'), Timestamp('2013-04-30 00:00:00'), Timestamp('2013-05-31 00:00:00'), Timestamp('2013-06-30 00:00:00'), Timestamp('2013-07-31 00:00:00'), Timestamp('2013-08-31 00:00:00'), Timestamp('2013-09-30 00:00:00'), Timestamp('2013-10-31 00:00:00'), Timestamp('2013-11-30 00:00:00'), Timestamp('2013-12-31 00:00:00'), Timestamp('2014-01-31 00:00:00'), Timestamp('2014-02-28 00:00:00'), Timestamp('2014-03-31 00:00:00'), Timestamp('2014-04-30 00:00:00'), Timestamp('2014-05-31 00:00:00'), Timestamp('2014-06-30 00:00:00'), Timestamp('2014-07-31 00:00:00'), Timestamp('2014-08-31 00:00:00'), Timestamp('2014-09-30 00:00:00'), Timestamp('2014-10-31 00:00:00'), Timestamp('2014-11-30 00:00:00'), Timestamp('2014-12-31 00:00:00'), Timestamp('2015-01-31 00:00:00'), Timestamp('2015-02-28 00:00:00'), Timestamp('2015-03-31 00:00:00'), Timestamp('2015-04-30 00:00:00'), Timestamp('2015-05-31 00:00:00'), Timestamp('2015-06-30 00:00:00')]
(12478, 6) (12478,)
[Timestamp('2015-07-31 00:00:00'), Timestamp('2015-08-31 00:00:00')]
(852, 6) (852,)
9
[Timestamp('2013-01-31 00:00:00'), Timestamp('2013-02-28 00:00:00'), Timestamp('2013-03-31 00:00:00'), Timestamp('2013-04-30 00:00:00'), Timestamp('2013-05-31 00:00:00'), Timestamp('2013-06-30 00:00:00'), Timestamp('2013-07-31 00:00:00'), Timestamp('2013-08-31 00:00:00'), Timestamp('2013-09-30 00:00:00'), Timestamp('2013-10-31 00:00:00'), Timestamp('2013-11-30 00:00:00'), Timestamp('2013-12-31 00:00:00'), Timestamp('2014-01-31 00:00:00'), Timestamp('2014-02-28 00:00:00'), Timestamp('2014-03-31 00:00:00'), Timestamp('2014-04-30 00:00:00'), Timestamp('2014-05-31 00:00:00'), Timestamp('2014-06-30 00:00:00'), Timestamp('2014-07-31 00:00:00'), Timestamp('2014-08-31 00:00:00'), Timestamp('2014-09-30 00:00:00'), Timestamp('2014-10-31 00:00:00'), Timestamp('2014-11-30 00:00:00'), Timestamp('2014-12-31 00:00:00'), Timestamp('2015-01-31 00:00:00'), Timestamp('2015-02-28 00:00:00'), Timestamp('2015-03-31 00:00:00'), Timestamp('2015-04-30 00:00:00'), Timestamp('2015-05-31 00:00:00'), Timestamp('2015-06-30 00:00:00')]
(12478, 4) (12478,)
[Timestamp('2015-07-31 00:00:00'), Timestamp('2015-08-31 00:00:00')]
(852, 4) (852,)
10
[Timestamp('2013-01-31 00:00:00'), Timestamp('2013-02-28 00:00:00'), Timestamp('2013-03-31 00:00:00'), Timestamp('2013-04-30 00:00:00'), Timestamp('2013-05-31 00:00:00'), Timestamp('2013-06-30 00:00:00'), Timestamp('2013-07-31 00:00:00'), Timestamp('2013-08-31 00:00:00'), Timestamp('2013-09-30 00:00:00'), Timestamp('2013-10-31 00:00:00'), Timestamp('2013-11-30 00:00:00'), Timestamp('2013-12-31 00:00:00'), Timestamp('2014-01-31 00:00:00'), Timestamp('2014-02-28 00:00:00'), Timestamp('2014-03-31 00:00:00'), Timestamp('2014-04-30 00:00:00'), Timestamp('2014-05-31 00:00:00'), Timestamp('2014-06-30 00:00:00'), Timestamp('2014-07-31 00:00:00'), Timestamp('2014-08-31 00:00:00'), Timestamp('2014-09-30 00:00:00'), Timestamp('2014-10-31 00:00:00'), Timestamp('2014-11-30 00:00:00'), Timestamp('2014-12-31 00:00:00'), Timestamp('2015-01-31 00:00:00'), Timestamp('2015-02-28 00:00:00'), Timestamp('2015-03-31 00:00:00'), Timestamp('2015-04-30 00:00:00'), Timestamp('2015-05-31 00:00:00'), Timestamp('2015-06-30 00:00:00')]
(12478, 7) (12478,)
[Timestamp('2015-07-31 00:00:00'), Timestamp('2015-08-31 00:00:00')]
(852, 7) (852,)
11
[Timestamp('2013-01-31 00:00:00'), Timestamp('2013-02-28 00:00:00'), Timestamp('2013-03-31 00:00:00'), Timestamp('2013-04-30 00:00:00'), Timestamp('2013-05-31 00:00:00'), Timestamp('2013-06-30 00:00:00'), Timestamp('2013-07-31 00:00:00'), Timestamp('2013-08-31 00:00:00'), Timestamp('2013-09-30 00:00:00'), Timestamp('2013-10-31 00:00:00'), Timestamp('2013-11-30 00:00:00'), Timestamp('2013-12-31 00:00:00'), Timestamp('2014-01-31 00:00:00'), Timestamp('2014-02-28 00:00:00'), Timestamp('2014-03-31 00:00:00'), Timestamp('2014-04-30 00:00:00'), Timestamp('2014-05-31 00:00:00'), Timestamp('2014-06-30 00:00:00'), Timestamp('2014-07-31 00:00:00'), Timestamp('2014-08-31 00:00:00'), Timestamp('2014-09-30 00:00:00'), Timestamp('2014-10-31 00:00:00'), Timestamp('2014-11-30 00:00:00'), Timestamp('2014-12-31 00:00:00'), Timestamp('2015-01-31 00:00:00'), Timestamp('2015-02-28 00:00:00'), Timestamp('2015-03-31 00:00:00'), Timestamp('2015-04-30 00:00:00'), Timestamp('2015-05-31 00:00:00'), Timestamp('2015-06-30 00:00:00')]
(12478, 6) (12478,)
[Timestamp('2015-07-31 00:00:00'), Timestamp('2015-08-31 00:00:00')]
(852, 6) (852,)
12
[Timestamp('2013-01-31 00:00:00'), Timestamp('2013-02-28 00:00:00'), Timestamp('2013-03-31 00:00:00'), Timestamp('2013-04-30 00:00:00'), Timestamp('2013-05-31 00:00:00'), Timestamp('2013-06-30 00:00:00'), Timestamp('2013-07-31 00:00:00'), Timestamp('2013-08-31 00:00:00'), Timestamp('2013-09-30 00:00:00'), Timestamp('2013-10-31 00:00:00'), Timestamp('2013-11-30 00:00:00'), Timestamp('2013-12-31 00:00:00'), Timestamp('2014-01-31 00:00:00'), Timestamp('2014-02-28 00:00:00'), Timestamp('2014-03-31 00:00:00'), Timestamp('2014-04-30 00:00:00'), Timestamp('2014-05-31 00:00:00'), Timestamp('2014-06-30 00:00:00'), Timestamp('2014-07-31 00:00:00'), Timestamp('2014-08-31 00:00:00'), Timestamp('2014-09-30 00:00:00'), Timestamp('2014-10-31 00:00:00'), Timestamp('2014-11-30 00:00:00'), Timestamp('2014-12-31 00:00:00'), Timestamp('2015-01-31 00:00:00'), Timestamp('2015-02-28 00:00:00'), Timestamp('2015-03-31 00:00:00'), Timestamp('2015-04-30 00:00:00'), Timestamp('2015-05-31 00:00:00'), Timestamp('2015-06-30 00:00:00')]
(12478, 7) (12478,)
[Timestamp('2015-07-31 00:00:00'), Timestamp('2015-08-31 00:00:00')]
(852, 7) (852,)
13
[Timestamp('2013-01-31 00:00:00'), Timestamp('2013-02-28 00:00:00'), Timestamp('2013-03-31 00:00:00'), Timestamp('2013-04-30 00:00:00'), Timestamp('2013-05-31 00:00:00'), Timestamp('2013-06-30 00:00:00'), Timestamp('2013-07-31 00:00:00'), Timestamp('2013-08-31 00:00:00'), Timestamp('2013-09-30 00:00:00'), Timestamp('2013-10-31 00:00:00'), Timestamp('2013-11-30 00:00:00'), Timestamp('2013-12-31 00:00:00'), Timestamp('2014-01-31 00:00:00'), Timestamp('2014-02-28 00:00:00'), Timestamp('2014-03-31 00:00:00'), Timestamp('2014-04-30 00:00:00'), Timestamp('2014-05-31 00:00:00'), Timestamp('2014-06-30 00:00:00'), Timestamp('2014-07-31 00:00:00'), Timestamp('2014-08-31 00:00:00'), Timestamp('2014-09-30 00:00:00'), Timestamp('2014-10-31 00:00:00'), Timestamp('2014-11-30 00:00:00'), Timestamp('2014-12-31 00:00:00'), Timestamp('2015-01-31 00:00:00'), Timestamp('2015-02-28 00:00:00'), Timestamp('2015-03-31 00:00:00'), Timestamp('2015-04-30 00:00:00'), Timestamp('2015-05-31 00:00:00'), Timestamp('2015-06-30 00:00:00')]
(12478, 7) (12478,)
[Timestamp('2015-07-31 00:00:00'), Timestamp('2015-08-31 00:00:00')]
(852, 7) (852,)
14
[Timestamp('2013-01-31 00:00:00'), Timestamp('2013-02-28 00:00:00'), Timestamp('2013-03-31 00:00:00'), Timestamp('2013-04-30 00:00:00'), Timestamp('2013-05-31 00:00:00'), Timestamp('2013-06-30 00:00:00'), Timestamp('2013-07-31 00:00:00'), Timestamp('2013-08-31 00:00:00'), Timestamp('2013-09-30 00:00:00'), Timestamp('2013-10-31 00:00:00'), Timestamp('2013-11-30 00:00:00'), Timestamp('2013-12-31 00:00:00'), Timestamp('2014-01-31 00:00:00'), Timestamp('2014-02-28 00:00:00'), Timestamp('2014-03-31 00:00:00'), Timestamp('2014-04-30 00:00:00'), Timestamp('2014-05-31 00:00:00'), Timestamp('2014-06-30 00:00:00'), Timestamp('2014-07-31 00:00:00'), Timestamp('2014-08-31 00:00:00'), Timestamp('2014-09-30 00:00:00'), Timestamp('2014-10-31 00:00:00'), Timestamp('2014-11-30 00:00:00'), Timestamp('2014-12-31 00:00:00'), Timestamp('2015-01-31 00:00:00'), Timestamp('2015-02-28 00:00:00'), Timestamp('2015-03-31 00:00:00'), Timestamp('2015-04-30 00:00:00'), Timestamp('2015-05-31 00:00:00'), Timestamp('2015-06-30 00:00:00')]
(12478, 4) (12478,)
[Timestamp('2015-07-31 00:00:00'), Timestamp('2015-08-31 00:00:00')]
(852, 4) (852,)
15
[Timestamp('2013-01-31 00:00:00'), Timestamp('2013-02-28 00:00:00'), Timestamp('2013-03-31 00:00:00'), Timestamp('2013-04-30 00:00:00'), Timestamp('2013-05-31 00:00:00'), Timestamp('2013-06-30 00:00:00'), Timestamp('2013-07-31 00:00:00'), Timestamp('2013-08-31 00:00:00'), Timestamp('2013-09-30 00:00:00'), Timestamp('2013-10-31 00:00:00'), Timestamp('2013-11-30 00:00:00'), Timestamp('2013-12-31 00:00:00'), Timestamp('2014-01-31 00:00:00'), Timestamp('2014-02-28 00:00:00'), Timestamp('2014-03-31 00:00:00'), Timestamp('2014-04-30 00:00:00'), Timestamp('2014-05-31 00:00:00'), Timestamp('2014-06-30 00:00:00'), Timestamp('2014-07-31 00:00:00'), Timestamp('2014-08-31 00:00:00'), Timestamp('2014-09-30 00:00:00'), Timestamp('2014-10-31 00:00:00'), Timestamp('2014-11-30 00:00:00'), Timestamp('2014-12-31 00:00:00'), Timestamp('2015-01-31 00:00:00'), Timestamp('2015-02-28 00:00:00'), Timestamp('2015-03-31 00:00:00'), Timestamp('2015-04-30 00:00:00'), Timestamp('2015-05-31 00:00:00'), Timestamp('2015-06-30 00:00:00')]
(12478, 7) (12478,)
[Timestamp('2015-07-31 00:00:00'), Timestamp('2015-08-31 00:00:00')]
(852, 7) (852,)
16
[Timestamp('2013-01-31 00:00:00'), Timestamp('2013-02-28 00:00:00'), Timestamp('2013-03-31 00:00:00'), Timestamp('2013-04-30 00:00:00'), Timestamp('2013-05-31 00:00:00'), Timestamp('2013-06-30 00:00:00'), Timestamp('2013-07-31 00:00:00'), Timestamp('2013-08-31 00:00:00'), Timestamp('2013-09-30 00:00:00'), Timestamp('2013-10-31 00:00:00'), Timestamp('2013-11-30 00:00:00'), Timestamp('2013-12-31 00:00:00'), Timestamp('2014-01-31 00:00:00'), Timestamp('2014-02-28 00:00:00'), Timestamp('2014-03-31 00:00:00'), Timestamp('2014-04-30 00:00:00'), Timestamp('2014-05-31 00:00:00'), Timestamp('2014-06-30 00:00:00'), Timestamp('2014-07-31 00:00:00'), Timestamp('2014-08-31 00:00:00'), Timestamp('2014-09-30 00:00:00'), Timestamp('2014-10-31 00:00:00'), Timestamp('2014-11-30 00:00:00'), Timestamp('2014-12-31 00:00:00'), Timestamp('2015-01-31 00:00:00'), Timestamp('2015-02-28 00:00:00'), Timestamp('2015-03-31 00:00:00'), Timestamp('2015-04-30 00:00:00'), Timestamp('2015-05-31 00:00:00'), Timestamp('2015-06-30 00:00:00')]
(12478, 7) (12478,)
[Timestamp('2015-07-31 00:00:00'), Timestamp('2015-08-31 00:00:00')]
(852, 7) (852,)
17
[Timestamp('2013-01-31 00:00:00'), Timestamp('2013-02-28 00:00:00'), Timestamp('2013-03-31 00:00:00'), Timestamp('2013-04-30 00:00:00'), Timestamp('2013-05-31 00:00:00'), Timestamp('2013-06-30 00:00:00'), Timestamp('2013-07-31 00:00:00'), Timestamp('2013-08-31 00:00:00'), Timestamp('2013-09-30 00:00:00'), Timestamp('2013-10-31 00:00:00'), Timestamp('2013-11-30 00:00:00'), Timestamp('2013-12-31 00:00:00'), Timestamp('2014-01-31 00:00:00'), Timestamp('2014-02-28 00:00:00'), Timestamp('2014-03-31 00:00:00'), Timestamp('2014-04-30 00:00:00'), Timestamp('2014-05-31 00:00:00'), Timestamp('2014-06-30 00:00:00'), Timestamp('2014-07-31 00:00:00'), Timestamp('2014-08-31 00:00:00'), Timestamp('2014-09-30 00:00:00'), Timestamp('2014-10-31 00:00:00'), Timestamp('2014-11-30 00:00:00'), Timestamp('2014-12-31 00:00:00'), Timestamp('2015-01-31 00:00:00'), Timestamp('2015-02-28 00:00:00'), Timestamp('2015-03-31 00:00:00'), Timestamp('2015-04-30 00:00:00'), Timestamp('2015-05-31 00:00:00'), Timestamp('2015-06-30 00:00:00')]
(12478, 6) (12478,)
[Timestamp('2015-07-31 00:00:00'), Timestamp('2015-08-31 00:00:00')]
(852, 6) (852,)
18

In [ ]:
df_results = pd.DataFrame.from_dict(results, orient='index', columns=['features', 'rmse_train', 'rmse_test'])
df_results.sort_values(by='rmse_test', inplace=True)

In [ ]:
df_results['rmse_test'].min()

2.892421152775162

In [ ]:
df_results

                                              features  rmse_train  rmse_test
320                  [lag_2M, lag_3M, lag_12M, lag_1M]    3.328471   2.892421
325  [lag_3M, lag_2M, shops_per_city, monthly_avera...    2.902640   2.958568
272  [lag_2M, item_category_id, shop_id, sales_grou...    2.547057   2.961974
203  [items_per_city, lag_2M, item_category_id, cit...    2.832634   2.974521
244  [lag_3M, city_id, lag_2M, shops_per_city, item...    2.516374   3.013987
..                                                 ...         ...        ...
247  [city_id_freq_enc, month_cos, shop_id_freq_enc...    7.482073   7.138018
142  [city_id, quarter, shops_per_city, city_id_fre...    7.480597   7.138991
277  [items_per_city, shop_id, items_per_shop, mont...    7.522324   7.139984
432  [shops_per_city, items_per_shop, month, month_...    7.559331   7.193362
111  [items_per_city, shops_per_city, items_per_sho...    7.596929   7.195467

[599 rows x 3 columns]

## Results

In [ ]:
list_features = ['items_per_category','lag_3M','month_cos','lag_2M','lag_1M','price_group']
train = 2.83
test = 2.88

In [ ]:
list_features = ['quarter','shops_per_city','month','month_cos','lag_2M','city_id','item_category_id','lag_1M','price_group']
train = 2.79
test = 2.88

In [ ]:
list_features = ['shop_id_freq_enc','items_per_city','month_cos','lag_2M','item_category_id','lag_1M']
train = 2.73
test = 2.89

In [ ]:
list_features = ['lag_1M','lag_2M', 'shop_id', 'item_category_id' ,'monthly_average_price', 'item_id_freq_enc' ]
train = 2.7
test =2.89

In [ ]:
list_features = ['item_id_freq_enc','lag_1M','lag_2M','lag_6M','price_group','monthly_average_price']
train = 2.8
test = 2.9

In [ ]:
list_features = ['lag_1M','lag_2M', 'item_category_id' ,'price_group', 'quarter', 'month' ]
train = 2.91
test =2.93

In [ ]:
list_features = ['lag_1M','lag_2M', 'item_category_id' ,'monthly_average_price', 'item_id_freq_enc' ]
train = 2.9
test =2.99