# Time Series

## 1. Importing libraries and files

In [1]:
import numpy as np 
import pandas as pd

In [2]:
df_weekly = pd.read_csv('./Data_for_Power_BI/weekly_data_for_power_bi.csv')

In [3]:
df_cluster = pd.read_csv('./df_cluster.csv')

In [25]:
path_events = './Data_for_Power_BI/daily_calendar_with_expanded_events.csv'
df_calendar_original = pd.read_csv(path_events)

In [65]:
df_calendar = df_calendar_original.groupby('yearweek').agg({'date': 'min'}).reset_index()
df_calendar['Year'] = pd.to_datetime(df_calendar['date']).dt.year
df_calendar['Quarter'] = pd.to_datetime(df_calendar['date']).dt.quarter
df_calendar['Month'] = pd.to_datetime(df_calendar['date']).dt.month
df_calendar['Day_month'] = pd.to_datetime(df_calendar['date']).dt.day

In [66]:
df_calendar.head()

   yearweek        date  Year  Quarter  Month  Day_month
0  201105.0  2011-01-29  2011        1      1         29
1  201106.0  2011-02-05  2011        1      2          5
2  201107.0  2011-02-12  2011        1      2         12
3  201108.0  2011-02-19  2011        1      2         19
4  201109.0  2011-02-26  2011        1      2         26

In [4]:
df_weekly.head()

,item,store_code,category_x,department,region,store,yearweek,sale,sell_price,daily_revenue,week_number
0,ACCESORIES_1_004,BOS_1,ACCESORIES,ACCESORIES_1,Boston,South_End,201105.0,10,5.77,57.72,1
1,ACCESORIES_1_004,BOS_2,ACCESORIES,ACCESORIES_1,Boston,Roxbury,201105.0,15,5.77,86.58,1
2,ACCESORIES_1_004,NYC_2,ACCESORIES,ACCESORIES_1,New York,Harlem,201105.0,33,5.77,190.48,1
3,ACCESORIES_1_004,NYC_4,ACCESORIES,ACCESORIES_1,New York,Brooklyn,201105.0,8,5.77,46.18,1
4,ACCESORIES_1_004,PHI_1,ACCESORIES,ACCESORIES_1,Philadelphia,Midtown_Village,201105.0,6,5.77,34.63,1

In [6]:
df_weekly.shape

(6721786, 11)

In [5]:
df_cluster.head()

,sales_ratio_mean,sell_price_mean,sales_ratio_relative_std,release_week,Sociability,Regionality,Seasonality,%trend_slope,price_elasticity,cluster,item
0,2.760999,11.043445,0.290107,131,0.0,0.400899,0.150287,0.0,-0.330625,5,ACCESORIES_1_001
1,1.855793,5.275790,0.582964,6,0.0,0.366412,0.127449,0.0,-0.059177,4,ACCESORIES_1_002
2,1.252894,3.943779,0.565078,161,0.0,0.178200,0.104309,0.0,0.029035,0,ACCESORIES_1_003
3,14.145769,5.981574,0.228632,1,1.0,0.315894,0.030596,0.0,0.308701,4,ACCESORIES_1_004
4,5.570844,3.832410,0.422320,14,0.0,0.212243,0.097256,0.0,-0.369176,1,ACCESORIES_1_005

In [7]:
df_cluster.shape

(3049, 11)

In [27]:
df_calendar.head()

   yearweek        date  Year  Quarter  Month
0  201105.0  2011-01-29  2011        1      1
1  201106.0  2011-02-05  2011        1      2
2  201107.0  2011-02-12  2011        1      2
3  201108.0  2011-02-19  2011        1      2
4  201109.0  2011-02-26  2011        1      2

In [28]:
df_calendar.shape

(279, 5)

In [10]:
df_weekly.week_number.max()

279

In [9]:
df_weekly[df_weekly.week_number > 104].shape

(4886761, 11)

In [15]:
df_weekly[df_weekly.week_number > 278]['yearweek'].unique()

array([201617.])

In [67]:
# Merge calendar features into weekly dataframe
df_weekly = df_weekly.merge(df_calendar[['yearweek', 'Year', 'Quarter', 'Month', 'Day_month']], on='yearweek', how='left')

In [68]:
df_weekly.head()

,item,store_code,category_x,department,region,store,yearweek,sale,sell_price,daily_revenue,...,changed_price_vs_mean,cluster,release_week,market_presence,sin_year,cos_year,Year_y,Quarter_y,Month_y,Day_month
0,ACCESORIES_1_004,BOS_1,ACCESORIES,ACCESORIES_1,Boston,South_End,201105.0,10,5.77,57.72,...,NaN,4,1,0,0.5,0.866025,2011,1,1,29
1,ACCESORIES_1_004,BOS_2,ACCESORIES,ACCESORIES_1,Boston,Roxbury,201105.0,15,5.77,86.58,...,NaN,4,1,0,0.5,0.866025,2011,1,1,29
2,ACCESORIES_1_004,NYC_2,ACCESORIES,ACCESORIES_1,New York,Harlem,201105.0,33,5.77,190.48,...,NaN,4,1,0,0.5,0.866025,2011,1,1,29
3,ACCESORIES_1_004,NYC_4,ACCESORIES,ACCESORIES_1,New York,Brooklyn,201105.0,8,5.77,46.18,...,NaN,4,1,0,0.5,0.866025,2011,1,1,29
4,ACCESORIES_1_004,PHI_1,ACCESORIES,ACCESORIES_1,Philadelphia,Midtown_Village,201105.0,6,5.77,34.63,...,NaN,4,1,0,0.5,0.866025,2011,1,1,29

## 2. Feature Engineering

In [33]:
df_weekly.columns

Index(['item', 'store_code', 'category_x', 'department', 'region', 'store',
       'yearweek', 'sale', 'sell_price', 'daily_revenue', 'week_number',
       'Year', 'Quarter', 'Month'],
      dtype='object')

In [38]:
df_price_mean = df_weekly.groupby(['Year', 'item']).agg({'sell_price': 'mean', 'department' : 'first'}).reset_index()
df_price_mean.rename(columns={'sell_price': 'price_mean_year'}, inplace=True)
df_price_mean.head()

   Year              item  price_mean_year    department
0  2011  ACCESORIES_1_002         5.280000  ACCESORIES_1
1  2011  ACCESORIES_1_004         5.693054  ACCESORIES_1
2  2011  ACCESORIES_1_005         3.610588  ACCESORIES_1
3  2011  ACCESORIES_1_008         0.641891  ACCESORIES_1
4  2011  ACCESORIES_1_009         2.251861  ACCESORIES_1

In [39]:
df_price_depart = df_price_mean.groupby(['Year', 'department']).agg({'price_mean_year': 'mean'}).reset_index()
df_price_depart.rename(columns={'price_mean_year': 'price_mean_department_year'}, inplace=True)
df_price_depart.head()

   Year       department  price_mean_department_year
0  2011     ACCESORIES_1                    7.001967
1  2011     ACCESORIES_2                    3.733769
2  2011  HOME_&_GARDEN_1                    6.085186
3  2011  HOME_&_GARDEN_2                    7.343540
4  2011    SUPERMARKET_1                    4.203097

In [ ]:
df_prices_aggregated = df_price_mean.merge(df_price_depart, on=['Year', 'department'], how='left')
df_prices_aggregated.head()

,Year,item,price_mean_year,department,price_mean_department_year
0,2011,ACCESORIES_1_002,5.280000,ACCESORIES_1,7.001967
1,2011,ACCESORIES_1_004,5.693054,ACCESORIES_1,7.001967
2,2011,ACCESORIES_1_005,3.610588,ACCESORIES_1,7.001967
3,2011,ACCESORIES_1_008,0.641891,ACCESORIES_1,7.001967
4,2011,ACCESORIES_1_009,2.251861,ACCESORIES_1,7.001967

In [42]:
df_prices_aggregated['price_proportion_item_department'] = df_prices_aggregated['price_mean_year'] / df_prices_aggregated['price_mean_department_year']
df_prices_aggregated.head()

,Year,item,price_mean_year,department,price_mean_department_year,price_proportion_item_department
0,2011,ACCESORIES_1_002,5.280000,ACCESORIES_1,7.001967,0.754074
1,2011,ACCESORIES_1_004,5.693054,ACCESORIES_1,7.001967,0.813065
2,2011,ACCESORIES_1_005,3.610588,ACCESORIES_1,7.001967,0.515653
3,2011,ACCESORIES_1_008,0.641891,ACCESORIES_1,7.001967,0.091673
4,2011,ACCESORIES_1_009,2.251861,ACCESORIES_1,7.001967,0.321604

In [44]:
# para agregar los datos de df aggregated al df weekly con un lag de 1 aÃ±o,
# cambiamos los datos de year por year + 1

df_prices_aggregated['Year_lag1'] = df_prices_aggregated['Year'] + 1

In [43]:
df_weekly_backup1 = df_weekly.copy()

In [45]:
# AÃ±adimos las nuevas features al df_weekly
df_weekly = df_weekly.merge(df_prices_aggregated
                            [['item', 'Year_lag1', 'price_mean_year', 'price_proportion_item_department']],
                            left_on=['item', 'Year'],
                            right_on=['item', 'Year_lag1'],
                            how='left')
df_weekly.head()

,item,store_code,category_x,department,region,store,yearweek,sale,sell_price,daily_revenue,week_number,Year,Quarter,Month,Year_lag1,price_mean_year,price_proportion_item_department
0,ACCESORIES_1_004,BOS_1,ACCESORIES,ACCESORIES_1,Boston,South_End,201105.0,10,5.77,57.72,1,2011,1,1,NaN,NaN,NaN
1,ACCESORIES_1_004,BOS_2,ACCESORIES,ACCESORIES_1,Boston,Roxbury,201105.0,15,5.77,86.58,1,2011,1,1,NaN,NaN,NaN
2,ACCESORIES_1_004,NYC_2,ACCESORIES,ACCESORIES_1,New York,Harlem,201105.0,33,5.77,190.48,1,2011,1,1,NaN,NaN,NaN
3,ACCESORIES_1_004,NYC_4,ACCESORIES,ACCESORIES_1,New York,Brooklyn,201105.0,8,5.77,46.18,1,2011,1,1,NaN,NaN,NaN
4,ACCESORIES_1_004,PHI_1,ACCESORIES,ACCESORIES_1,Philadelphia,Midtown_Village,201105.0,6,5.77,34.63,1,2011,1,1,NaN,NaN,NaN

In [ ]:
df_weekly[df_weekly.Year >= 2012].head()

,item,store_code,category_x,department,region,store,yearweek,sale,sell_price,daily_revenue,week_number,Year,Quarter,Month,Year_lag1,price_mean_year,price_proportion_item_department
760780,ACCESORIES_1_002,BOS_1,ACCESORIES,ACCESORIES_1,Boston,South_End,201202.0,0,5.28,0.00,51,2012,1,1,2012.0,5.28,0.754074
760781,ACCESORIES_1_002,BOS_2,ACCESORIES,ACCESORIES_1,Boston,Roxbury,201202.0,0,5.28,0.00,51,2012,1,1,2012.0,5.28,0.754074
760782,ACCESORIES_1_002,BOS_3,ACCESORIES,ACCESORIES_1,Boston,Back_Bay,201202.0,1,5.28,5.28,51,2012,1,1,2012.0,5.28,0.754074
760783,ACCESORIES_1_002,NYC_1,ACCESORIES,ACCESORIES_1,New York,Greenwich_Village,201202.0,1,5.28,5.28,51,2012,1,1,2012.0,5.28,0.754074
760784,ACCESORIES_1_002,NYC_2,ACCESORIES,ACCESORIES_1,New York,Harlem,201202.0,0,5.28,0.00,51,2012,1,1,2012.0,5.28,0.754074

In [49]:
df_weekly.drop(columns=['Year_lag1'], inplace=True)

In [50]:
df_weekly['changed_price_vs_mean'] = (df_weekly['sell_price'] / df_weekly['price_mean_year']) - 1

In [ ]:
# Posibles Features

# cluster OK - falta OHE

  # nivel de precio
    # Precio medio - precio medio por aÃ±o anterior OK
    # Precio articulo / Precio medio department - precio medio dept aÃ±o anterior OK

  # elasticidad
    # Cambio de precio                        # % (Precio Actual / Precio medio aÃ±o anterior) - 1  OK

  #tendencia
    # permanencia en el mercado               # number_week - release_week OK
    # lag ventas (52)/(26) 

  #Sociability


  #Regionality - con datos del aÃ±o anterior
    # Q(NY), Q(B), Q(PHI)

  #Seasonality
    # Q(Q1), Q(Q2), Q(Q3), Q(Q4)

  #Estables
    # media movil (3), (6)

# articulo, semana, y tienda

# preprocesamiento del target (dif, log)

  # id tienda OK
  # id ciudad OK

  # ventas medias por ciudad, por ciudad y categori
  # ventas medias por tiendas
  

  # semana previa a evento
  # semana evento
  # semana post evento
  # Clasificacion ABC Global                # ABC ITEM // PRECIO_ITEM / PRECIO_PROM_GENERAL

  # aÃ±o OK
  # mes / trimestre OK
  # sin / cos (year) OK
  # inicio / fin de mes OK
  
  # id category OK
  # id deparment OK



  # climaticos: [TÂ° media semanal por ciudad, Precipitacion media]

In [52]:
#AÃ±adimos datos del clustering y de la semana de lanzamiento
df_weekly = df_weekly.merge(df_cluster[['item', 'cluster', 'release_week']], on='item', how='left')

In [55]:
df_weekly.head()

,item,store_code,category_x,department,region,store,yearweek,sale,sell_price,daily_revenue,week_number,Year,Quarter,Month,price_mean_year,price_proportion_item_department,changed_price_vs_mean,cluster,release_week
0,ACCESORIES_1_004,BOS_1,ACCESORIES,ACCESORIES_1,Boston,South_End,201105.0,10,5.77,57.72,1,2011,1,1,NaN,NaN,NaN,4,1
1,ACCESORIES_1_004,BOS_2,ACCESORIES,ACCESORIES_1,Boston,Roxbury,201105.0,15,5.77,86.58,1,2011,1,1,NaN,NaN,NaN,4,1
2,ACCESORIES_1_004,NYC_2,ACCESORIES,ACCESORIES_1,New York,Harlem,201105.0,33,5.77,190.48,1,2011,1,1,NaN,NaN,NaN,4,1
3,ACCESORIES_1_004,NYC_4,ACCESORIES,ACCESORIES_1,New York,Brooklyn,201105.0,8,5.77,46.18,1,2011,1,1,NaN,NaN,NaN,4,1
4,ACCESORIES_1_004,PHI_1,ACCESORIES,ACCESORIES_1,Philadelphia,Midtown_Village,201105.0,6,5.77,34.63,1,2011,1,1,NaN,NaN,NaN,4,1

In [56]:
df_weekly.columns

Index(['item', 'store_code', 'category_x', 'department', 'region', 'store',
       'yearweek', 'sale', 'sell_price', 'daily_revenue', 'week_number',
       'Year', 'Quarter', 'Month', 'price_mean_year',
       'price_proportion_item_department', 'changed_price_vs_mean', 'cluster',
       'release_week'],
      dtype='object')

In [57]:
#permanencia en el mercado
df_weekly['market_presence'] = df_weekly['week_number'] - df_weekly['release_week']

In [58]:
df_weekly.columns

Index(['item', 'store_code', 'category_x', 'department', 'region', 'store',
       'yearweek', 'sale', 'sell_price', 'daily_revenue', 'week_number',
       'Year', 'Quarter', 'Month', 'price_mean_year',
       'price_proportion_item_department', 'changed_price_vs_mean', 'cluster',
       'release_week', 'market_presence'],
      dtype='object')

In [59]:
## Seno y coseno del aÃ±o
df_weekly['sin_year'] = np.sin(2 * np.pi * df_weekly['Month'] / 12)
df_weekly['cos_year'] = np.cos(2 * np.pi * df_weekly['Month'] / 12)
df_weekly.head()

,item,store_code,category_x,department,region,store,yearweek,sale,sell_price,daily_revenue,...,Quarter,Month,price_mean_year,price_proportion_item_department,changed_price_vs_mean,cluster,release_week,market_presence,sin_year,cos_year
0,ACCESORIES_1_004,BOS_1,ACCESORIES,ACCESORIES_1,Boston,South_End,201105.0,10,5.77,57.72,...,1,1,NaN,NaN,NaN,4,1,0,0.5,0.866025
1,ACCESORIES_1_004,BOS_2,ACCESORIES,ACCESORIES_1,Boston,Roxbury,201105.0,15,5.77,86.58,...,1,1,NaN,NaN,NaN,4,1,0,0.5,0.866025
2,ACCESORIES_1_004,NYC_2,ACCESORIES,ACCESORIES_1,New York,Harlem,201105.0,33,5.77,190.48,...,1,1,NaN,NaN,NaN,4,1,0,0.5,0.866025
3,ACCESORIES_1_004,NYC_4,ACCESORIES,ACCESORIES_1,New York,Brooklyn,201105.0,8,5.77,46.18,...,1,1,NaN,NaN,NaN,4,1,0,0.5,0.866025
4,ACCESORIES_1_004,PHI_1,ACCESORIES,ACCESORIES_1,Philadelphia,Midtown_Village,201105.0,6,5.77,34.63,...,1,1,NaN,NaN,NaN,4,1,0,0.5,0.866025

In [64]:
df_weekly[['Month', 'cos_year']].value_counts()

Month  cos_year
12      1.000000e+00    660088
3       6.123234e-17    640125
4      -5.000000e-01    594577
1       8.660254e-01    573464
8      -5.000000e-01    566746
2       5.000000e-01    559127
11      8.660254e-01    549342
10      5.000000e-01    537768
5      -8.660254e-01    524237
6      -1.000000e+00    515704
9      -1.836970e-16    507913
7      -8.660254e-01    492695
Name: count, dtype: int64

In [ ]:
df_weekly =

In [ ]:
# Lags (Past values)
df_weekly.sort_values(by=['yearweek', 'item', 'store_code'],ascending=True, inplace=True)
# Previous week sales (t-1)
df_weekly['lag_1_sale'] = df_weekly.groupby(['item', 'store_code'])['sale'].shift(1)
df_weekly['lag_1_sellprice'] = df_weekly.groupby(['item', 'store_code'])['sell_price'].shift(1)

# Sales 4 weeks ago (approx 1 month)
df_weekly['lag_4_sale'] = df_weekly.groupby(['item', 'store_code'])['sale'].shift(4)
df_weekly['lag_4_sellprice'] = df_weekly.groupby(['item', 'store_code'])['sell_price'].shift(4)

# Sales 26 weeks ago (approx 6 months)
df_weekly['lag_26_sale'] = df_weekly.groupby(['item', 'store_code'])['sale'].shift(26)
df_weekly['lag_26_sellprice'] = df_weekly.groupby(['item', 'store_code'])['sell_price'].shift(26)

# Sales 52 weeks ago (approx 1 year)
df_weekly['lag_52_sale'] = df_weekly.groupby(['item', 'store_code'])['sale'].shift(52)
df_weekly['lag_52_sellprice'] = df_weekly.groupby(['item', 'store_code'])['sell_price'].shift(52)

In [ ]:
# Rolling Features
# 4-week moving average (shows trend without noise)
df_weekly['rolling_mean_4w_sale'] = df_weekly.groupby(['item', 'store_code'])['sale'].transform(lambda x: x.rolling(window=4).mean())
df_weekly['rolling_mean_4w_sellprice'] = df_weekly.groupby(['item', 'store_code'])['sell_price'].transform(lambda x: x.rolling(window=4).mean())

In [ ]:
# Variation / Detrending (Target for stationary models)
# "Diff": Absolute difference (Current - Previous)
df_weekly['sales_diff'] = df_weekly.groupby(['item', 'store_code'])['sale'].diff(1)
df_weekly['price_diff'] = df_weekly.groupby(['item', 'store_code'])['sell_price'].diff(1)

In [ ]:
df_calen

## 3. Particion

In [ ]:
week_number_val = 260
week_number_test = 274

df_validation = df_weekly[df_weekly.week_number.between(week_number_val, week_number_test - 1)]
df_test = df_weekly[df_weekly.week_number >= week_number_test]